<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="http://localhost/modu/assets/css/bootstrap.css">
<link rel="stylesheet" href="http://localhost/modu/assets/css/widgets/chat.css">

<link rel="stylesheet" href="http://localhost/modu/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
<link rel="stylesheet" href="http://localhost/modu/assets/vendors/bootstrap-icons/bootstrap-icons.css">
<link rel="stylesheet" href="http://localhost/modu/assets/css/app.css">
<link rel="shortcut icon" href="http://localhost/modu/assets/images/favicon.svg" type="image/x-icon"> 
</head>
<body>
	<div layout:fragment="content">
		<section class="section">
			<div class="row">
				<div class="col-md-10">
					<div class="card">
						<div class="card-header">
							<div class="media d-flex align-items-center">
								<div class="avatar me-3">
									<img src="http://localhost/modu/assets/images/faces/1.jpg" alt="" srcset=""> <span
										class="avatar-status bg-success"></span>
								</div>
								<div class="name flex-grow-1">
									<h6 class="mb-0">[[${info.chatParticiMembUniNo}]]</h6>
									<span class="text-xs">[[${info.chatrNo}]]</span>
								</div>
								<button class="btn btn-sm">
									<i data-feather="x"></i>
								</button>
							</div>
						</div>
						<div class="card-body pt-4 bg-grey">
							<div class="chat-content">
								<div class="chat">
									<div class="chat-body">
										<div class="chat-message">Hi Alfy, how can i help you?</div>
									</div>
								</div>
								<div class="chat chat-left">
									<div class="chat-body">
										<div class="chat-message">I'm looking for the best admin
											dashboard template</div>
										<div class="chat-message">With bootstrap certainly</div>
									</div>
								</div>
								<div class="chat">
									<div class="chat-body">
										<div class="chat-message">I recommend you to use Mazer
											Dashboard</div>
									</div>
								</div>
								<div class="chat chat-left">
									<div class="chat-body">
										<div class="chat-message">That"s great! I like it so much :)</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-footer">
							<div
								class="message-form d-flex flex-direction-column align-items-center">
								<a href="http://" class="black"><i data-feather="smile"></i></a>
								<div class="d-flex flex-grow-1 ml-4">
									<input type="text" id="sendMsg" name="cntn" class="form-control" placeholder="Type your message..">
									<button type="button" id="sendMsgBtn">보내기</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<script>
			document.getElementById('sendMsgBtn').addEventListener('click', function(){
				let msg = document.getElementById('sendMsg').value;
				let wantSend = {};
				wantSend['cntn'] = msg;
				console.log(wantSend);
				fetch("http://localhost/modu/chatMsg",{
					method : 'post',
						headers : {
							'content-type' : 'application/json'
						},
						body : JSON.stringify(wantSend)
				})
				.then(result => result.json())
				.then(data => {
					console.log(data);
				})
				.catch(err => console.log(err))
			})

		</script>
		<script	src="http://localhost/modu/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
		<script src="http://localhost/modu/assets/js/bootstrap.bundle.min.js"></script>
		<script src="http://localhost/modu/assets/js/main.js"></script> 
	</div>
</body>
</html>