<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">
<head>
<title>Hello WebSocket</title>
<th:block layout:fragment="css">
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		crossorigin="anonymous">
	<link href="/main.css" rel="stylesheet">

</th:block>
<th:block layout:fragment="script">
	<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
	<script	src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
	<script src="assets/js/app.js"></script>

</th:block>
<script src="https://unpkg.com/ncloudchat/ncloudchat.min.js"></script>
</head>
<body>
	<div layout:fragment="content">
		<!-- 소켓연결, 메세지전송, 수신하는 js코드 다 있음ㅇㅇ -->
		<noscript>
			<h2 style="color: #ff0000">Seems your browser doesn't support
				Javascript! Websocket relies on Javascript being enabled. Please
				enable Javascript and reload this page!</h2>
		</noscript>
		<div id="main-content" class="container">
			test용
			<div class="row">
				<div class="col-md-6">
					<form class="form-inline">
						<div class="form-group">
							<label for="connect">WebSocket connection:</label>
							<button id="connect" class="btn btn-default" type="button">Connect</button>
							<button id="disconnect" class="btn btn-default" type="button"
								disabled="disabled">Disconnect</button>
						</div>
					</form>
				</div>
				<div class="col-md-6">
					<form class="form-inline">
						<div class="form-group">
							<label for="name">What is your name?</label> <input type="text"
								id="cntn" class="form-control" placeholder="Your name here...">
						</div>
						<button id="send" class="btn btn-default" type="button">Send</button>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table id="conversation" class="table table-striped">
						<thead>
							<tr>
								<th>Greetings</th>
							</tr>
						</thead>
						<tbody id="greetings">
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>