<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="http://localhost/modu/assets/css/bootstrap.css">
<link rel="stylesheet" href="http://localhost/modu/assets/css/widgets/chat.css">

<link rel="stylesheet" href="http://localhost/modu/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
<link rel="stylesheet" href="http://localhost/modu/assets/vendors/bootstrap-icons/bootstrap-icons.css">
<link rel="stylesheet" href="http://localhost/modu/assets/css/app.css">
<link rel="shortcut icon" href="http://localhost/modu/assets/images/favicon.svg" type="image/x-icon"> 
</head>
<body>
	<div layout:fragment="content">
		<section class="section">
			<div class="row">
				<div class="col-md-10">
					<div class="card">
						<div class="card-header">
							<div class="media d-flex align-items-center">
								<div class="avatar me-3">
									<img src="http://localhost/modu/assets/images/faces/1.jpg" alt="" srcset=""> <span
										class="avatar-status bg-success"></span>
								</div>
								<div class="name flex-grow-1">
									<h6 class="mb-0">[[${info.chatParticiMembUniNo}]]</h6>
									<span class="text-xs">[[${info.chatrNo}]]</span>
								</div>
								<button class="btn btn-sm">
									<i data-feather="x"></i>
								</button>
							</div>
						</div>
						<div class="card-body pt-4 bg-grey">
							<div class="chat-content">
								<!-- <div class="chat">
									<div class="chat-body">
										<div class="chat-message">Hi Alfy, how can i help you?</div>
									</div>
								</div>
								<div class="chat chat-left">
									<div class="chat-body">
										<div class="chat-message">I'm looking for the best admin
											dashboard template</div>
										<div class="chat-message">With bootstrap certainly</div>
									</div>
								</div>
								<div class="chat">
									<div class="chat-body">
										<div class="chat-message">I recommend you to use Mazer
											Dashboard</div>
									</div>
								</div>
								<div class="chat chat-left">
									<div class="chat-body">
										<div class="chat-message">That"s great! I like it so much :)</div>
									</div>
								</div> -->
							</div>
						</div>
						<div class="card-footer">
							<div
								class="message-form d-flex flex-direction-column align-items-center">
								<a href="http://" class="black"><i data-feather="smile"></i></a>
								<div class="d-flex flex-grow-1 ml-4">
									<input type="text" id="sendMsg" name="cntn" class="form-control" placeholder="Type your message..">
									<button type="button" id="sendMsgBtn">보내기</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<script>
			document.getElementById('sendMsgBtn').addEventListener('click', function(){
				let msgPlace = document.getElementsByClassName('chat-content')[0];
				let msg = document.getElementById('sendMsg').value;
				let wantSend = {};
				wantSend['cntn'] = msg;
				//console.log(wantSend);
				fetch("http://localhost/modu/chatMsg",{
					method : 'post',
						headers : {
							'content-type' : 'application/json'
						},
						body : JSON.stringify(wantSend)
				})
				.then(result => result.json())
				.then(data => {
					//console.log(data);

					let cdiv = document.createElement('div');
					cdiv.setAttribute('class', 'chat');
					msgPlace.append(cdiv);

					let cbdiv = document.createElement('div');
					cbdiv.setAttribute('class', 'chat-body');
					cdiv.append(cbdiv);
					msgPlace.append(cdiv);

					let cmdiv = document.createElement('div');
					cmdiv.setAttribute('class', 'chat-message');
					cmdiv.textContent = msg.cntn;
					cbdiv.append(cmdiv);
					cdiv.append(cbdiv);
					msgPlace.append(cdiv);

				})
				.catch(err => console.log(err))
			})

			//채팅메세지리스트
			function showChatMsgList(){
				let msgPlace = document.getElementsByClassName('chat-content')[0];
				let chatrNo = '[[${session.chatrNo}]]'
				let chatWriter = '[[${session.chatParticiMembUniNo}]]';
				fetch("http://localhost/modu/msgList/" + chatrNo)
				.then(resolve => resolve.json())
				.then(data => {
					msgPlace.innerHTML = ''; // 지우고다시리스트
					data.forEach(msg => {
						
						if(msg.chatParticiMembUniNo == chatWriter){	

							//내가 쓴 채팅
							let cdiv = document.createElement('div');
							cdiv.setAttribute('class', 'chat');
							msgPlace.append(cdiv);

							let cbdiv = document.createElement('div');
							cbdiv.setAttribute('class', 'chat-body');
							cdiv.append(cbdiv);
							msgPlace.append(cdiv);

							let cmdiv = document.createElement('div');
							cmdiv.setAttribute('class', 'chat-message');
							cmdiv.textContent = msg.cntn;
							cbdiv.append(cmdiv);
							cdiv.append(cbdiv);
							msgPlace.append(cdiv);

						}else{

							//상대가 쓴 채팅
							let cdiv = document.createElement('div');
							cdiv.setAttribute('class', 'chat chat-left');
							msgPlace.append(cdiv);

							let cbdiv = document.createElement('div');
							cbdiv.setAttribute('class', 'chat-body');
							cdiv.append(cbdiv);
							msgPlace.append(cdiv);

							let cmdiv = document.createElement('div');
							cmdiv.setAttribute('class', 'chat-message');
							cmdiv.textContent = msg.cntn;
							cbdiv.append(cmdiv);
							cdiv.append(cbdiv);
							msgPlace.append(cdiv);

						}
					});
				})
			}
			showChatMsgList();
			
			//웹소켓
			// WebSocket 연결 설정
			const socket = new WebSocket('ws://localhost:80/modu/socketserver'); // WebSocket 서버 URL

			// 연결이 성공했을 때 실행되는 이벤트 핸들러
			socket.onopen = () => {
			  console.log('WebSocket 연결 성공');
			};
			
			// 서버로부터 메시지를 받았을 때 실행되는 이벤트 핸들러 == 상대방이 보낸 메세지
			socket.onmessage = (event) => {
			  const msg = JSON.parse(event.data);
			  const chatContent = document.querySelector('.chat-content');

			  const chatDiv = document.createElement('div');
			  chatDiv.classList.add('chat');

			  const chatBodyDiv = document.createElement('div');
			  chatBodyDiv.classList.add('chat-body');

			  const chatMessageDiv = document.createElement('div');
			  chatMessageDiv.classList.add('chat-message');
			  chatMessageDiv.textContent = msg.content; // message 객체에는 서버에서 전달한 메시지 내용이 있을 것입니다.

			  chatBodyDiv.appendChild(chatMessageDiv);
			  chatDiv.appendChild(chatBodyDiv);

			  chatContent.appendChild(chatDiv);
			};
			
			// 채팅 메시지를 전송하는 함수
			function sendMessage(message) {
			  const messageObject = {
			    content: message,
			    chatrNo: '[[${session.chatrNo}]]',
			    chatParticiMembUniNo: '[[${session.chatParticiMembUniNo}]]'
			    // TODO: 사용자 정보 등 필요한 정보를 추가합니다.
			  };
			  socket.send(JSON.stringify(messageObject));
			  // TODO: 전송한 메시지를 채팅 화면에 표시하는 로직을 작성합니다.
			  //const msg = JSON.parse(event.data);
			  const chatContent = document.querySelector('.chat-content');

			  const chatDiv = document.createElement('div');
			  chatDiv.classList.add('chat');

			  const chatBodyDiv = document.createElement('div');
			  chatBodyDiv.classList.add('chat-body');

			  const chatMessageDiv = document.createElement('div');
			  chatMessageDiv.classList.add('chat-message');
			  chatMessageDiv.textContent = message + '[[${session.chatParticiMembUniNo}]]'; // message 객체에는 서버에서 전달한 메시지 내용이 있을 것입니다.

			  chatBodyDiv.appendChild(chatMessageDiv);
			  chatDiv.appendChild(chatBodyDiv);

			  chatContent.appendChild(chatDiv);
			  
			}
			
			// 채팅 메시지를 입력한 후 전송 버튼을 눌렀을 때의 처리
			const inputField = document.getElementById('sendMsg'); // 채팅 메시지를 입력하는 input 요소
			const sendButton = document.getElementById('sendMsgBtn'); // 전송 버튼
			sendButton.addEventListener('click', () => {
			  const msg = inputField.value;
			  if (msg.trim() !== '') {
			    sendMessage(msg);
			    console.log(msg);
			    inputField.value = ''; // 입력 필드 초기화
			  }
			});
			
			// TODO: 파일 첨부, 푸시 알림 등의 기능도 필요한 경우 구현합니다.


		</script>
		<script	src="http://localhost/modu/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
		<script src="http://localhost/modu/assets/js/bootstrap.bundle.min.js"></script>
		<script src="http://localhost/modu/assets/js/main.js"></script> 
	</div>
</body>
</html>
