<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.modu.app.prj.todo.mapper.TodoMapper">

	<!-- 할일 목록 -->
	<select id="todoList" resultType="TodoVO" parameterType="TodoVO">
	select * from todo where prj_uni_no=#{prjUniNo} and (MGR=#{mgr} or cm=#{cm}) 
	</select>
	
	<!-- 단건 조회 -->
	<select id="oneTodo" parameterType="String" resultType="TodoVO">
	select * from todo where todo_uni_no=#{todoUniNo}
	</select>

	<!-- 할일 생성-->
	<insert id="insertTodo" parameterType="TodoVO">
	insert into todo(todo_uni_no,fr_dt,to_dt,mgr,cm,writer,cntn,pct,prj_uni_no,ttl)
	values('t'||todo_seq.nextval,#{fr_dt},#{to_dt},#{mgr},#{cm},#{writer},#{cntn},#{pct},#{prjUniNo},#{ttl});
	</insert>

	<!-- 할일 진행도 변경 -->
	<update id="udpatePercent" parameterType="TodoVO">
	update todo set
				pct = #{pct}
	where todo_uni_no = #{toDoUniNo}
	</update>
	
	
	<!-- 할일 수정  -->
</mapper>
