<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.modu.app.prj.todo.mapper.TodoMapper">

	<!-- 할일 목록 -->
	<select id="todoList" resultType="TodoVO" parameterType="TodoVO">
	select  TODO_UNI_NO,
			FR_DT,
			TO_DT,
			FIND_NICKNAME(MGR)  MGR,
			FIND_NICKNAME(CM)  CM,
			WRITER,
			CNTN,
			FIND_CODE_NAME(PCT) PCT,
			PRJ_UNI_NO,
			TTL
	  from todo 
	  where MGR=#{particiMembUniNo} or cm=#{particiMembUniNo}
	  order by todo_uni_No desc
	</select>

	<!-- 단건 조회 -->
	<select id="oneTodo" parameterType="TodoVO" resultType="TodoVO">
	select  TODO_UNI_NO,
			FR_DT,
			TO_DT,
			FIND_NICKNAME(MGR)  MGR,
			FIND_NICKNAME(CM)  CM,
			CNTN,
			FIND_CODE_NAME(PCT) PCT,
			PRJ_UNI_NO,
			TTL 
		from todo 
		where todo_uni_no=#{todoUniNo}
	</select>
	
	<!-- 담당자 확인 -->
	<select id="mgrCheck" parameterType="String">
	select mgr
	from todo
	where todo_uni_no=#{todoUniNo}
	</select>
	
	<!-- 담당자 참가자 확인 -->
	<select id="mgrCmCheck" parameterType="String">
	select mgr,cm
	from todo
	where todo_uni_no=#{todoUniNo}
	</select>

	<!-- 할일 생성-->
	<insert id="insertTodo" parameterType="TodoVO">
	<selectKey keyProperty="todoUniNo" resultType="String" order="BEFORE">
			SELECT 't' || TODO_SEQ.nextVal from dual
		</selectKey>
	insert into todo(todo_uni_no,fr_dt,to_dt,mgr,cm,writer,cntn,pct,prj_uni_no,ttl)
	values(#{todoUniNo},TO_DATE(#{frDt}, 'YYYY-MM-DD'),TO_DATE(#{toDt}, 'YYYY-MM-DD'),#{mgr},#{cm},#{writer},#{cntn},'P01',#{prjUniNo},#{ttl})
	</insert>
	
	<!-- 퍼센트 공통코드 -->
	<select id="pctCmmn" resultType="TodoVO">
		select *
		from cmmn
		where grp_cd = '퍼센트'
	</select>
	

	<!-- 할일 진행도 변경 -->
	<update id="udpatePercent" parameterType="TodoVO">
	update todo set
				pct = #{pct}
	where todo_uni_no = #{todoUniNo}
	</update>
	
	<!-- 할일 삭제 -->
	<delete id="deleteTodo" parameterType="String">
	delete from todo
	where todo_uni_no = #{todoUniNo}
	</delete>
	
	<!-- 할일 수정  -->
	<update id="updateTodo" parameterType="TodoVO">
	update todo <set>
					<if test="ttl != null and !ttl.equals('')">
 					ttl=#{ttl},
 					</if>
 		   			cntn=#{cntn},
 		   			<if test="pct != null and !pct.equals('')">
 		   			pct=#{pct},
 		   			</if>
 		   			<if test="cm != null and !cm.equals('')">
 		   			cm=#{cm},
 		   			</if>
 		   			<if test="frDt != null and !frDt.equals('')">
 		   			fr_dt=TO_DATE(#{frDt}, 'YYYY-MM-DD'),
 		   			</if>
 		   			<if test="toDt != null and !toDt.equals('')">
 		   			to_dt=TO_DATE(#{toDt}, 'YYYY-MM-DD'),
 		   			</if>
 		  </set>
 	where todo_uni_no = #{todoUniNo}
	</update>
</mapper>
