<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.modu.app.prj.file.mapper.FileMapper">

<!-- 첨부파일저장 -->
	<insert id="insertFile" parameterType="FileVO">
		INSERT INTO att (att_no,
						 partici_memb_uni_no,
						 att_nm,
						 server_att_nm,
						 f_size,
						 ext,
						 <if test="postUniNo != null and !postUniNo.equals('')">
							post_uni_no,
						 </if>
						 <if test="chatNo != null and !chatNo.equals('')">
							chat_no,
						 </if>
						 <if test="noticeUniNo != null and !noticeUniNo.equals('')">
							notice_uni_no,
						 </if>
						  <if test="faqNo != null and !faqNo.equals('')">
							faq_no,
						 </if>
						  <if test="todoUniNo != null and !todoUniNo.equals('')">
							todo_uni_no,
						 </if>
						  dn_yn
							)
					VALUES(
							#{attNo},
							#{particiMembUniNo},
							#{attNm},
							#{serverAttNm},
							#{fSize},
							#{ext},
							#{postUniNo},
							#{chatNo},
							#{noticeUniNo},
							#{faqNo},
							#{todoUniNo},
							'N'
							) 
	</insert>
</mapper>