<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
	<div class="row">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">투표</h4>
				<hr>
				<button type="button" onclick="voteInsert()"
					class="btn btn-block btn-light-primary font-bold mt-3">+
					투표 만들기</button>
			</div>
			<div class="card-content">
				<div class="card-body" id="vote">				
				</div>
			</div>
		</div>
	</div>
	
<script>
	$.ajax("voteList")
		.done(result=>{
		for(i of result){
			console.log(result)
			let div=`
				<h4 class="card-title">${i.boardNm}</h4>
				<h2>${i.ttl}</h2>
				<small class="text-muted">${i.cnt}명 참여</small>
				<p class="card-text">~${i.toDt}까지 마감</p>
			`;
			$('#vote').append(div);
			}
 		})
 		
 	function voteInsert(){
	$.ajax("voteInsertPage")
	.done(result=>{
		$("#rsidebarContent").html(result);
		})
		}
	
	/* 	$.ajax("voteInsert")
		.done(function(result){
			$("#rsidebarContent").html(result);
		})	
	} */
	
	
</script>
</body>
</html>