<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.modu.app.cmmn.mapper.CmmnMapper">
  	<!-- 공통코드 -->
 	<select id="getCmmn" resultType="CmmnVO" parameterType="String">
 		select *
		from cmmn
		where grp_cd = #{grpCd}
 	</select>
 </mapper>