<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
		<div class="row">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">즐겨찾기</h4>
					<hr>
				</div>
				<div class="card-content" >
					<table>
						<tbody id="bmList">
						</tbody>
					</table>
				</div>
			</div>
		</div>
	<script th:inline="javascript">
/*<![CDATA[*/
    $.ajax("bmList")
    .done(result => {
        console.log(result);
        for (let i = 0; i < result.length; i++) {
            $('#bmList').append(
                $('<tr/>').attr('onclick', 'trHref()')
                    .append($('<td/>').text('등록일자 : ' + result[i].regDt))
                    .append($('<td/>').text('게시글 번호 : ' + result[i].bmUniNo))
                    .append($('<td/>').text(result[i].brdUniNo)).append($('<hr>'))
            );
        }
        
    });
/*]]>*/
</script>
<script>
	function trHref(){
		let brdUniNo = $(event.target).closest('tr').children().eq(2).text();
		location.href='/modu/postList?brdUniNo='+ brdUniNo;
	}
    function click() {
        console.log(event.target.className.animVal);
        event.target.classList.toggle('clicked');
        event.target.classList.toggle('cls-1');

    }S
    document.getElementById('ultag').addEventListener('click', function (event) {
        let target = event.target;
        if (target.classList.contains('cls-1')) {
            let brdUniNo = target.getAttribute('text-brdUniNo');
            console.log(target);
        }
    });
</script>


</body>
</html>