<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
	<div layout:fragment="right-side">
		<div class="row">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">즐겨찾기</h4>
					<hr>
				</div>
				<div class="card-content">
					<div class="card-body" th:each="bmlist:${bmList}">
					<ul>
						<li style="border:solid 1px black"class="card-title">등록 일자 : [[${bmlist.regDt}]]%</li>
					</ul>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</body>

</html>