<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
	<div layout:fragment="right-side">
		<div class="row">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">즐겨찾기</h4>
					<hr>
				</div>
				<div class="card-content">
					<th:block class="card-body" th:each="bmlist:${bmlist}">
						<th>등록일자</th><br>
						<td>[[${[postUniNo]}]]</td>
						<td>[[${attNo}]]</td>
						<td>[[${chatNo}]]</td>
						<td>[[${bmlist.regDt}]]</td>
						<hr>
					</th:block>
				</div>
			</div>
		</div>

	</div>
</body>
</html>