
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>대시보드</title>

<link href="../assets/vendors/fontawesome-free/css/all.min.css"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">
<link href="../assets/css/sb-admin-2.min.css" rel="stylesheet">
<link href="../assets/vendors/datatables/dataTables.bootstrap4.min.css"
	rel="stylesheet">
<script src="../assets/vendors/jquery/jquery.min.js"></script>
<script src="../assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../assets/vendors/jquery-easing/jquery.easing.min.js"></script>
<script src="../assets/js/sb-admin-2.min.js"></script>
<script src="../assets/vendors/datatables/jquery.dataTables.min.js"></script>
<script src="../assets/vendors/datatables/dataTables.bootstrap4.min.js"></script>
<script src="../assets/js/demo/datatables-demo.js"></script>
<style>
.left-aligned {
    text-align: left;
    vertical-align: middle;
}

.center-aligned {
    text-align: center;
    vertical-align: middle;
}

th {
    text-align: center;
    vertical-align: middle;
}
</style>
</head>

<body id="page-top">
	<div id="wrapper">
		<ul
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar">
			<a
				class="sidebar-brand d-flex align-items-center justify-content-center"
				th:href="@{/admin/dashBoard}">
				<div class="sidebar-brand-icon rotate-n-15">
					<i class="fas fa-laugh-wink"></i>
				</div>
				<div class="sidebar-brand-text mx-3">관리자 메뉴</div>
			</a>
			<hr class="sidebar-divider my-0">
			<li class="nav-item active"><a class="nav-link"
				th:href="@{/admin/dashBoard}"> <i
					class="fas fa-fw fa-tachometer-alt"></i> <span>대시보드</span></a></li>
			<hr class="sidebar-divider my-0">
			<li class="nav-item active"><a class="nav-link"
				th:href="@{/admin/userList}"> <i
					class="fas fa-fw fa-tachometer-alt"></i> <span>회원목록</span></a></li>
			<hr class="sidebar-divider my-0">
			<li class="nav-item active"><a class="nav-link"
				th:href="@{/admin/payTable}"> <i
					class="fas fa-fw fa-tachometer-alt"></i> <span>결제조회</span></a></li>
		</ul>
		<div id="content-wrapper" class="d-flex flex-column">

			<div id="content">

				<!-- 위쪽 사이드바 -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

				</nav>

				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-2 text-gray-800">회원 조회</h1>
					<p class="mb-4"></p>

					<!-- DataTales Example -->
					<div class="card shadow mb-4">

						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%"
									cellspacing="0">
									<thead>
										<tr>
											<th>이름</th>
											<th>아이디</th>
											<th>휴대폰</th>
											<th>등록날짜</th>
											<th>상태</th>
											<th>액션</th>
										</tr>
									</thead>

									<tbody>
										<tr th:each="user : ${userList}" th:data-user-id="${user.id}"
											class="user-row">

											<td class="left-aligned" th:text="${user.nm}"></td>
											<td class="left-aligned" th:text="${user.id}"></td>
											<td class="center-aligned" th:text="${user.phNo}"></td>
											<td class="center-aligned" th:text="${user.regDt}"></td>
											<td class="center-aligned"><span
												th:class="${user.quit == 'N'} ? 'badge bg-success' : 'badge bg-danger'"
												th:text="${user.quit == 'N'} ? '유저' : '탈퇴'"></span></td>
											<td class="center-aligned">
												<button type="button" class="btn btn-danger ban-button"
													data-bs-toggle="modal" data-bs-target="#danger"
													th:data-user-id="${user.id}"
													th:disabled="${user.quit == 'Y'}">추방</button>
											</td>

										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
			</div>
			<!-- 모달 -->
			<div class="modal fade" id="userInfoModal" tabindex="-1"
				aria-labelledby="userInfoModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="userInfoModalLabel">유저 정보</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p>
								이름: <span id="userName"></span>
							</p>
							<p>
								이메일: <span id="userEmail"></span>
							</p>
							<p>
								전화번호: <span id="userPhone"></span>
							</p>
							<p>
								가입일자: <span id="userRegDt"></span>
							</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">닫기</button>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<footer class="sticky-footer bg-white">
		<div class="container my-auto">
			<div class="copyright text-center my-auto">
				<span>Copyright &copy; Your Website 2020</span>
			</div>
		</div>
	</footer>

	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!--추방 theme Modal -->
	<div class="modal fade text-left" id="danger" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel120" aria-hidden="true">
		<div
			class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
			role="document">
			<div class="modal-content">
				<div class="modal-header bg-danger">
					<h5 class="modal-title white" id="myModalLabel120">추방</h5>
					<button type="button" class="close" data-bs-dismiss="modal"
						aria-label="Close">
						<i data-feather="x"></i>
					</button>
				</div>
				<div class="modal-body">
					해당 유저 <span id="ban-user-id"></span>를 추방하겠습니까?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-light-secondary"
						data-bs-dismiss="modal">
						<i class="bx bx-x d-block d-sm-none"></i> <span
							class="d-none d-sm-block">취소</span>
					</button>
					<button type="button" class="btn btn-danger ml-1" id="confirmQuit"
						data-bs-dismiss="modal">
						<i class="bx bx-check d-block d-sm-none"></i> <span
							class="d-none d-sm-block">추방</span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<script>
		$(document)
				.ready(
						function() {
							$(".ban-button").on("click", function(event) {
								event.stopPropagation();

								var userId = $(this).data('user-id');
								console.log("추방대상 : " + userId);

								$('#confirmQuit').data('user-id', userId);
								$('#danger').modal('show');
							});
							$("#confirmQuit")
									.on(
											"click",
											function(event) {
												var userId = $(this).data(
														'user-id');

												$
														.ajax({
															url : 'banUser',
															type : 'POST',
															data : JSON
																	.stringify({
																		id : userId
																	}),
															contentType : 'application/json; charset=utf-8',
															success : function(
																	response) {
																alert(userId
																		+ ' 님이 정상적으로 추방이 되었습니다.');
																$('#danger')
																		.modal(
																				'hide');

																// 해당 사용자 행 찾아서 상태 변경
																$(
																		'tr[data-user-id="'
																				+ userId
																				+ '"]')
																		.find(
																				'.badge')
																		.removeClass(
																				'bg-success')
																		.addClass(
																				'bg-danger')
																		.text(
																				'탈퇴');
																$(
																		'tr[data-user-id="'
																				+ userId
																				+ '"]')
																		.find(
																				'.ban-button')
																		.attr(
																				'disabled',
																				true);
															},
															error : function(
																	request,
																	message,
																	error) {
																alert('오류로 인해 추방할 수 없습니다. 자세한건 로그를 확인하세요.')
															}
														});
											});

							$(document).on('click', '.user-row', function() {
								var userId = $(this).data('userId');
								console.log(userId);

								// 서버에 유저 정보 요청
								$.ajax({
									url : '/modu/admin/userList/' + userId,
									method : 'POST',
									dataType : 'json',
									success : function(data) {
										$('#userName').text(data.nm);
										$('#userEmail').text(data.id);
										$('#userPhone').text(data.phNo);
										$('#userRegDt').text(data.regDt);
										$('#userInfoModal').modal('show');
									},
									error : function(error) {
										console.error('에러 : ', error);
									}
								});
							});
						});
	</script>

</body>

</html>