<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.modu.app.prj.vote.mapper.VoteMapper">

  <!-- 투표 생성 - 1-1. 게시글에 첨가 -->
  <insert id="postVote" parameterType="VoteVO">
  insert into post(post_uni_no,ttl,cm,write_dt,brd_uni_no)
  values(post_seq.nextval,#{ttl},#{cm},sysdate,#{brd_uni}) 
  </insert>
  
  <!-- 투표 생성 - 1-2. 채팅에 첨가 --> 
  <insert id="postVote2" parameterType="VoteVO">
  insert into chat(chat_no,chatr_no,partici_memb_uni_no,cntn)
  values(chat_seq.nextval,#{chatr_no},#{partici_memb_uni_no},#{cntn})  
  </insert>
  
  <!-- 투표 생성 - 2.투표테이블 -->
  <insert id="createVote" parameterType="VoteVO">
  INSERT INTO VOTE(vote_no,prj_no,fr_dt,to_dt,ttl)
  values(#{voteNo},#{prjNo},#{frDt},#{toDt},#{ttl})
  </insert>
  
  <!-- 투표 생성 - 3. 투표상세 테이블 -->
  <insert id="insertVoteItem" parameterType="VoteVO">
  insert into vote_deta(vote_deta_no,vote_no,vote_item)
  values(#{voteDetaNo},#{voteNo},#{voteItem})
  </insert>
  
  <!-- 투표 기간 수정 -->
  <update id="voteDate" parameterType="VoteVO">
  update vote set to_dt=#{toDt}
  where vote_no=#{voteNo}
  </update>
  
  <!-- 투표 항목 나열  -->
  <select id="voteItem" resultType="VoteVO">
  select vote_item,vote_deta_no from vote_deta where vote_no=#{voteNo}
  </select>
  
  <!-- 투표하기 - 투표수 증가 -->
  <update id="updateCnt" parameterType="VoteVO">
  update vote_deta set
  		 cnt = cnt+1
  where vote_deta_no = #{voteDetaNo}	
  </update>
  
  <!-- 투표 결과 -->
  <selet id="voteResult" resultType="VoteVO">
  select vote_item,cnt
  </selet>
  
  </mapper>