<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="row">
		<div class="card">
			<div class="card-header">
				<div class="card-body">
					<div class="clearfix"></div>
					<div class="btn-group btn-group-lg" role="group"
						aria-label="Basic example">
						<button type="button" onclick="bpList()" class="btn btn-primary" style="width: 70px; height: 30px; font-size:10px">게시글</button>
						<button type="button" onclick="fileList()" class="btn btn-primary" style="width: 70px; height: 30px; font-size:10px">파일</button>
						<button type="button" onclick="chatList()" class="btn btn-primary" style="width: 70px; height: 30px; font-size:10px">채팅</button>
					</div>
						<input id="ttl" name="ttl" type="text" placeholder="검색어를 입력해주세요." class="form-control">
						 <button type="button" id="srhBtn" class="btn btn-primary">검색</button>
				</div>
				<hr>
			</div>
			<div class="card-content" id="bpList">
			</div>
		</div>
	</div>
	<script th:inline="javascript">
	$('#srhBtn').on('click', function(){
		let ttl = $('#ttl').val();
		$.ajax({
            url: "BpListSearch", 
            data: {ttl},  
            method: "GET",   
            success: function(data) {
              console.log(data);
          	  	$('#bpList').empty();
	          	let div = '';
	            for (let i of data) { 
	                div += `
	                    <div class="card-content">
	                        <div class="card-body">
	                            <td>${i.ttl}</td> 
	                        </div>
	                    </div>
	                    <hr>
	                `;
	            }
            	$('#bpList').append(div); 
            },
            error: function(err) {
              console.log(err);
            }
        })
	})
	function bpList(){
    $.ajax("BpList")
    .done(result => {
    	console.log(result)
    	$('#bpList').empty();
        let div = '';
        for (let i of result) { 
            div += `
                <div class="card-content">
                    <div class="card-body">
                        <td>${i.ttl}</td> 
                    </div>
                </div>
                <hr>
            `;
        }
        $('#bpList').append(div);
    });
    }
</script>
</body>
</html>