<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>요금안내</title>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="assets/css/bootstrap.css">
<link rel="stylesheet"
	href="assets/vendors/bootstrap-icons/bootstrap-icons.css">
<link rel="stylesheet" href="assets/css/app.css">
</head>

<body>
	<nav class="navbar navbar-light">
		<div class="container d-block">
			<a href="javascript:window.history.back();"><i
				class="bi bi-chevron-left"></i></a> <a class="navbar-brand"
				th:href="@{/}"><span class="fw-bolder text-primary">MODU</span></a>
		</div>
	</nav>
	<div id="container">
		<div class="row">
			<div class="col-12 col-md-4 order-md-1 order-last offset-md-2">
				<h3>요금 안내</h3>
				<p class="text-subtitle text-muted">원하는 플랜을 선택하세요.</p>
			</div>
			<div class="col-12 col-md-4 order-md-2 order-first">
				<nav aria-label="breadcrumb"
					class="breadcrumb-header float-start float-lg-end">
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-8 offset-md-2">
				<div class="pricing">
					<div class="row align-items-center">
						<div class="col-md-6 pe-3">
							<div class="card">
								<div class="card-header text-center">
									<h4 class="card-title">무료 플랜</h4>
									<hr>
								</div>
								<h1 class="price">
									0 <span class="h2">원</span>
								</h1>
								<ul>
									<li><i class="bi bi-check-circle"></i>최대 10명</li>
									<li><i class="bi bi-check-circle"></i>게시판 4개까지 생성 가능</li>
								</ul>
								<div class="card-footer">
									<button class="btn btn-primary btn-block" onclick="goPrjMake()">시작하기</button>
								</div>
							</div>
						</div>
						<div class="col-md-6 ps-3">
							<div class="card card-highlighted">
								<div class="card-header text-center">
									<h4 class="card-title">유료 플랜</h4>
									<hr>
								</div>
								<h1 class="price">
									<span class="h2">월</span> 4800 <span class="h2">원</span>
								</h1>
								<ul>
									<li><i class="bi bi-check-circle"></i>팀원 초대 무제한</li>
									<li><i class="bi bi-check-circle"></i>게시판 생성 무제한</li>
								</ul>
								<div class="card-footer">
									<button class="btn btn-primary btn-block" onclick="goPrjMake()">시작하기</button>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script src="assets/js/bootstrap.bundle.min.js"></script>

	<script src="assets/js/main.js"></script>
	<script>
		function goPrjMake() {
			let logincheck = '[[${session.user}]]';
			if (logincheck == '') {
				// 로그인 안되어있을때
				location.href = 'login'
			} else {
				location.href = 'prjInsert'
			}
		}
	</script>
</body>

</html>