<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>프로젝트 Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="assets/css/bootstrap.css" />

    <link rel="stylesheet" href="assets/vendors/iconly/bold.css" />

    <link rel="stylesheet" href="assets/vendors/perfect-scrollbar/perfect-scrollbar.css"/>
    <link rel="stylesheet" href="assets/vendors/bootstrap-icons/bootstrap-icons.css"/>
    <link rel="stylesheet" href="assets/css/app.css" />
    <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon"/>
  </head>

  <body>
    <div class="page-content">
      <section class="row">
      <div class="col-9">
	      <div class="row">
	          <div class="col-6 col-lg-4 col-md-6">
	            <div class="card mx-2">
	              <div class="card-body px-3 py-4-5">
	                <div class="row">
	                  <div class="col-md-4">
	                    <div class="stats-icon blue">
	                      <i class="iconly-boldProfile"></i>
	                    </div>
	                  </div>
	                  <div class="col-md-8 text-center">
	                    <h6 class="text-muted font-semibold">팀원</h6>
	                    <h6 class="font-extrabold mb-0" th:text="${memCnt}+' 명'">
	                      0명
	                    </h6>
	                  </div>
	                </div>
	              </div>
	            </div>
	          </div>
	          <div class="col-6 col-lg-4 col-md-6">
	            <div class="card mx-2">
	              <div class="card-body px-3 py-4-5">
	                <div class="row">
	                  <div class="col-md-4">
	                    <div class="stats-icon green">
	                      <i class="iconly-boldAdd-User"></i>
	                    </div>
	                  </div>
	                  <div class="col-md-8 text-center">
	                    <h6 class="text-muted font-semibold">채팅방수</h6>
	                    <h6 class="font-extrabold mb-0" th:text="${chatrCnt}+' 개'">
	                      8개
	                    </h6>
	                  </div>
	                </div>
	              </div>
	            </div>
	          </div>
	          <div class="col-6 col-lg-4 col-md-6">
	            <div class="card mx-2">
	              <div class="card-body px-3 py-4-5">
	                <div class="row">
	                  <div class="col-md-4">
	                    <div class="stats-icon red">
	                      <i class="iconly-boldBookmark"></i>
	                    </div>
	                  </div>
	                  <div class="col-md-8 text-center">
	                    <h6 class="text-muted font-semibold">게시판수</h6>
	                    <h6 class="font-extrabold mb-0" th:text="${brdCnt}+' 개'">
	                      1개
	                    </h6>
	                  </div>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	
	        <div class="row prjdashtbl">
	          <div class="col-12">
	            <div class="card">
	              <div class="card-header">
	                <h4 class="card-title">팀원의 활동량</h4>
	              </div>
	              <div class="card-content">
	                <div class="card-body">
	<!--                   <p>
	                    <code class="highlighter-rouge">&lt;기간설정&gt;</code>.
	                  </p> -->
	
	                  <div class="row d-flex justify-content-end">
	                    <div class="col-md-2 mx-1">
	                      <input type="date" id="fromDt" class="form-control" />
	                    </div>
	                    <div class="col-md-2 mx-1">
	                      <input type="date" id="toDt" class="form-control" />
	                    </div>
	                    <div class="col-md-1 mx-2">
	                      <button type="button" class="btn btn-primary" onclick="findBtn()">검색</button>
	                    </div>
	                  </div>
	
	                  <table class="table table-hover mb-0" id="dashtable">
	                    <thead>
	                      <tr>
	                        <th>닉네임</th>
	                        <th>이메일</th>
	                        <th>게시글</th>
	                        <th>댓글</th>
	                        <th>채팅</th>
	                        <th>등급</th>
	                      </tr>
	                    </thead>
	                    <tbody id="tbltbd">
	                        <!-- 기간 설정 시 테이블에 tr 생성 -->
	                    </tbody>
	                  </table>
		               
	                </div>
	
	              </div>
	            </div>
	          </div>
	        </div>
      </div>
      <div class="col-3">
        <div class="col-12">
          <div class="card mx-2">
            <div class="card-header">
              <h4>등급 별 인원</h4>
	  		</div>
            <div class="card-body px-3 py-4-5">
              <div class="row">
                  <!-- 프로젝트 내 회원 등급 비율 -->
      			      <div id="chart-grd"></div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>
    </div>
    <script>
      $(function(){
	      // 처음 들어왔을때 현재날짜로 선택해서 테이블 보여주기
	      let currentDate = new Date().toISOString().split("T")[0];
	    
	      document.getElementById("fromDt").value = currentDate;
	      document.getElementById("toDt").value = currentDate;
	      findBtn();
      })
      
      // 테이블 기간설정 검색
      function findBtn() {
    	// 이전에 생성된 데이터테이블 인스턴스가 있으면 제거
   	    if (dataTableInstance) {
   	      dataTableInstance.destroy();
   	    }
        let fromDt = document.querySelector("#fromDt").value;
        let toDt = document.querySelector("#toDt").value;
        let data = { prjUniNo: '[[${prjNo}]]', fromDt: fromDt, toDt: toDt };

        fetch("manage/getPrjCnt", {
          method: "post",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        })
          .then((response) => response.json())
          .then((result) => {
           
            document.querySelector("#tbltbd").innerText = "";
            let field = [
              "nnm",
              "prjPubcId",
              "postcnt",
              "replycnt",
              "chatcnt",
              "cd",
            ];
            result.forEach((item) => {
              // 테이블 tr 만들기
              let tr = document.createElement("tr");
              let td = document.createElement("td");
              for (let i of field) {
                td = document.createElement("td");
                td.textContent = item[i];
                tr.append(td);
              }
              document.querySelector("#tbltbd").append(tr);
            });
            dataTableInstance = new simpleDatatables.DataTable(document.querySelector("#dashtable"));
            
          });
      }
      
    </script>
	<script src="assets/vendors/apexcharts/apexcharts.js"></script>
    <script>
		fetch("manage/getGrdCnt?prjNo="+'[[${prjNo}]]')
		.then(response => response.json())
		.then(result => {
			
			// 대시보드의 등급별회원수 차트
		    let optionsGrd  = {
		   		series: result.cnt,
		   		labels: result.grd,
		   		chart: {
		   			type: 'donut',
		   			width: '100%',
		   			height:'350px'
		   		},
		   		legend: {
		   			position: 'bottom'
		   		},
		   		plotOptions: {
		   			pie: {
		   				donut: {
		   					size: '30%'
		   				}
		   			}
		   		}
		   	}
		    var chartGrd = new ApexCharts(document.getElementById('chart-grd'), optionsGrd)
		    chartGrd.render()
		})
		
    </script>
  </body>
</html>
