<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout Vertical 1 Column - Mazer</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
	<link rel="stylesheet" href="assets/vendors/sweetalert2/sweetalert2.min.css">
    <link rel="stylesheet" href="assets/vendors/fontawesome/all.min.css">
    <style>
        .fontawesome-icons {
            text-align: center;
        }

        article dl {
            background-color: rgba(0, 0, 0, .02);
            padding: 20px;
        }

        .fontawesome-icons .the-icon svg {
            font-size: 24px;
        }
        
        #collapseAlter .card-body, #collapseQuit .card-body {
        	background-color:#e6eaee;
        }
    </style>

    <link rel="stylesheet" href="assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon">
  </head>

  <body>
    <nav class="navbar navbar-light">
      <div class="container d-block">
        <a href="javascript:window.history.back();"><i class="bi bi-chevron-left"></i></a>
        <a class="navbar-brand" th:href="@{/}"><span
					class="fw-bolder text-primary">MODU</span></a>
      </div>
    </nav>
    <div class="container">
      <div class="card mt-5">
        <div class="card-body py-4 px-5">
          <div class="d-flex justify-content-end">
          <a th:href="@{loginuser/mypage}">
            <svg class="svg-inline--fa fa-pen fa-w-16 fa-fw select-all" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="pen" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M290.74 93.24l128.02 128.02-277.99 277.99-114.14 12.6C11.35 513.54-1.56 500.62.14 485.34l12.7-114.22 277.9-277.88zm207.2-19.06l-60.11-60.11c-18.75-18.75-49.16-18.75-67.91 0l-56.55 56.55 128.02 128.02 56.55-56.55c18.75-18.76 18.75-49.16 0-67.91z"></path></svg>
            </a>
          </div>
          <div class="d-flex align-items-center">
            <div class="avatar avatar-xl">
              <img src="assets/images/faces/1.jpg" alt="Face 1" />
            </div>
            <div class="ms-3 name">
              <h5 class="font-bold">[[${session.user.nm}]]</h5>
              <h6 class="text-muted mb-0">[[${session.user.id}]]</h6>
            </div>
          </div>
        </div>
      </div>

	  <div class="card mt-5" th:each="prj : ${prjList}">
        <div class="card-header">
          <div class="row">
            <div class="col-8">
              <h4 class="card-title" th:text="${prj.prjNm}">프로젝트명</h4>
            </div>
            <div class="col-4 text-end prjBtn" th:id="${prj.prjUniNo}">
              <button type="button" class="btn btn-primary me-1 mb-1 setting"
              	th:if="${prj.grd} == 'G01'">
                설정
              </button>
              <button type="button" class="btn btn-primary me-1 mb-1 setting"
              	th:if="${prj.grd} == 'G02'">
                설정
              </button>
              <button type="button" class="btn btn-primary me-1 mb-1 adminSet"
              	th:if="${prj.grd} == 'G03'">
                프로젝트 관리
              </button>
              <button type="button" class="btn btn-primary me-1 mb-1 adminSet"
              	th:if="${prj.grd} == 'G04'">
                프로젝트 관리
              </button>
              <button type="button" class="btn btn-light-secondary me-1 mb-1 project">
                프로젝트로
              </button>
            </div>
          </div>
        </div>

        <div class="card-body">
          <p th:text="${prj.exdt}? '유료플랜 적용 기간 : '+${#dates.format(prj.payDt, 'yyyy-MM-dd')}+' ~ '+${#dates.format(prj.exdt, 'yyyy-MM-dd')} : '무료플랜 이용중'">
          	유료/무료
          </p>
          <p th:text="${prj.cd}">등급</p>
          <p>프로젝트 이메일 : <span th:text="${prj.prjPubcId}? ${prj.prjPubcId} : ' '" class="pubmail"></span></p>
        </div>
      </div>
	  
      <div class="card mt-5">
        <div class="card-body">
          <button class="btn btn-block btn-xl btn-light-primary font-bold mt-3" onclick="location.href='prjInsert'">
            + 프로젝트 생성
          </button>
        </div>
      </div>
    </div>
    
    <!-- 설정 버튼 Modal -->
    <div class="modal fade" id="settingModal" tabindex="-1" role="dialog"
        aria-labelledby="settingModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="settingModalTitle"> 설정 [<span class="prjName">프로젝트 명</span>]</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">

                    </button>
                </div>
                <div class="modal-body">
                    <section class="row">
                        <div class="card">
                          <div class="card-header">
                            <h4 class="card-title">정보 변경</h4>
                          </div>
                          <div class="card-body">
                            <div class="accordion" id="alterAccordion">
                              <div class="card collapse-header">
                                <div class="card-header" id="headingAlter" data-bs-toggle="collapse" data-bs-target="#collapseAlter" aria-expanded="false" aria-controls="collapseAlter" role="button">
                                  <span class="collapsed collapse-title btn btn-primary">정보 변경하기</span>
                                </div>
                                <div id="collapseAlter" class="collapse pt-1" aria-labelledby="headingAlter" data-parent="#alterAccordion">
                                  <div class="card-body">
                                    <div class="row">
                                      <label>이메일: </label>
                                      <div class="form-group">
                                        <input type="email" placeholder="Email Address" class="form-control email" onchange="infoUPdate()" id="emailadd"/>
                                      </div>
            
                                      <label>이름: </label>
                                      <div class="form-group">
                                        <input type="text" placeholder="Name" class="form-control nnm" onchange="infoUPdate()" id="nameadd"/>
                                      </div>
            
                                      <label>부서: </label>
                                      <div class="form-group">
                                        <input type="text" placeholder="Department" class="form-control dept" onchange="infoUPdate()" id="deptadd"/>
                                      </div>
            
                                      <label>직책: </label>
                                      <div class="form-group">
                                        <input type="text" placeholder="Position" class="form-control position pos" onchange="infoUPdate()" id="posadd"/>
                                      </div>            
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="card">
                          <div class="card-header">
                            <h4 class="card-title">프로젝트 탈퇴</h4>
                          </div>
                          <div class="card-body">
                            <div class="accordion" id="quitAccordion">
                              <div class="card collapse-header">
                                <div class="card-header" id="headingQuit" data-bs-toggle="collapse" data-bs-target="#collapseQuit" aria-expanded="false" aria-controls="collapseQuit" role="button">
                                  <span class="collapsed collapse-title btn btn-primary">프로젝트 탈퇴하기</span>
                                </div>
                                <div id="collapseQuit" class="collapse pt-1" aria-labelledby="headingQuit" data-parent="#quitAccordion">
                                  <div class="card-body">
                                    <div class="row">
                                      <p>프로젝트를 탈퇴하시겠습니까?</p>
                                      <p>프로젝트 탈퇴 시 프로젝트 내 정보는 남아있습니다.</p>
                                      <p>프로젝트명을 입력 후 탈퇴하기 버튼을 누르면 탈퇴 가능합니다.</p>
                                    </div>
                                    <div class="row">
                                      <div class="col-sm-6">
                                        <input type="text" placeholder="프로젝트명" class="form-control form-control-lg" id="prjNameCk"/>
                                      </div>
                                      <div class="col-sm-6 d-flex">
                                        <button type="button" class="btn btn-primary me-1 mb-1" onclick="quitClick()">탈퇴하기</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary ml-1"
                        data-bs-dismiss="modal">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Close</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <script src="assets/vendors/fontawesome/all.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    
    <script>
    	document.querySelectorAll('.prjBtn').forEach(function(btn){
    		btn.addEventListener('click', function(){
    			if(event.target.tagName == "BUTTON"){
    				let prjId = btn.id;
    				if(event.target.classList.contains('project')){
    					window.location = 'main?prjUniNo='+prjId;
    				}else if(event.target.classList.contains('setting')){
    					// 회원정보불러오는 ajax
    					let setPrjNm = event.target.parentElement.parentElement.querySelector('.card-title');	// modal에 프로젝트명 span
    					let prjNm = setPrjNm.innerText;
    					$.ajax("manage/getParticiMembInfo?prjNo="+prjId)
				 		.done(function(result){
				 			// modal 안에 정보 넣기
				 			document.querySelector('.prjName').textContent = prjNm;
				 			document.querySelector('.prjName').setAttribute("data-prjNo", prjId);
				 			document.querySelector('#emailadd').value = result.prjPubcId;
				 			document.querySelector('#nameadd').value = result.nnm;
				 			document.querySelector('#deptadd').value = result.dept;
				 			document.querySelector('#posadd').value = result.pos;
				 		})
    					// modal 열기
    					$('#settingModal').modal('show');
    					
    				}else if(event.target.classList.contains('adminSet')){
    					window.location = 'prjManage?prjUniNo='+prjId;
    				}
    			}
    		})
    	})
    </script>
    
    <script>
      
	  function infoUPdate(){
		  let email = document.querySelector('#emailadd').value;
		  let name  = document.querySelector('#nameadd').value;
 		  let dept  = document.querySelector('#deptadd').value;
 		  let pos   = document.querySelector('#posadd').value;
 		  let prjNo = document.querySelector('.prjName').getAttribute("data-prjNo");
 		  let data = {'prjPubcId':email, 'nnm':name, 'dept':dept, 'pos':pos}
 		 if (email === null || email === '') {
 			Swal.fire({
		        icon: "warning",
		        title: "이메일을 입력하세요."
		      })
 	        return;
 	    }

 	    if (name === null || name === '') {
 	    	Swal.fire({
		        icon: "warning",
		        title: "이름을 입력하세요."
		      })
 	        return;
 	    }

 		  fetch("manage/updateParticiMembInfo?prjNo="+prjNo, {
 			  method : "post",
 			 headers:{'Content-Type' : 'application/json'},
 			 body : JSON.stringify(data),
 		  })
 		  .then((response) => response.json())
 		  .then((result) => {
 			 document.querySelector('#'+prjNo).parentElement.parentElement.parentElement.querySelector('.pubmail').textContent = email
 		  })
 		  .catch((error) => {
 		    console.error("Error:", error);
 		  });
	  }
      
      function quitClick(){
    	  let input = document.querySelector('#prjNameCk').value;
    	  let prjNo = document.querySelector('.prjName').getAttribute("data-prjNo");
    	  if(input == document.querySelector('.prjName').textContent){
    		  // 확인문구일치
    		  // 탈퇴시키기
			fetch("manage/quitMemb?prjNo="+prjNo)
			.then((response) => response.json())
			.then((data) => {
			      Swal.fire('탈퇴 완료')  
			      window.location = 'prjList';
			})
   		   document.querySelector('#prjNameCk').value = '';
    	  }else{
    		  // 확인문구 불일치
    		  Swal.fire({
		        icon: "error",
		        title: "확인 문구가 불일치합니다."
		      })
			  document.querySelector('#prjNameCk').value = '';
    	  }
    	  
      }
      
      function fileChange(){
    	  let fileInput = document.getElementById('userImage');
    	  // 파일 정보 가져오기
    	  let file = fileInput.files[0];

    	  if (file) {
	        // FormData 객체 생성
	        let formData = new FormData();
	        formData.append('file', file);
	        formData.append('prjNo', document.querySelector('.prjName').getAttribute("data-prjNo"));

	        // POST 요청 파일테이블에 insert/참여테이블 update
	        fetch(url, {
	            method: 'POST',
	            body: formData
	        })
	        .then(response => response.json())
	        .then(data => {
	        })
	        .catch(error => {
	            console.error('에러:', error);
	        });
	    }
    	  
      }
    </script>
    <script src="assets/vendors/sweetalert2/sweetalert2.all.min.js"></script>
  </body>
</html>