<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout Vertical 1 Column - Mazer</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap.css">

    <link rel="stylesheet" href="assets/vendors/fontawesome/all.min.css">
    <style>
        .fontawesome-icons {
            text-align: center;
        }

        article dl {
            background-color: rgba(0, 0, 0, .02);
            padding: 20px;
        }

        .fontawesome-icons .the-icon svg {
            font-size: 24px;
        }
    </style>

    <link rel="stylesheet" href="assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon">
  </head>

  <body>
    <nav class="navbar navbar-light">
      <div class="container d-block">
        <a href="javascript:window.history.back();"><i class="bi bi-chevron-left"></i></a>
        <a class="navbar-brand ms-4" th:href="@{/}">
          <img src="assets/images/logo/logo.png" />
        </a>
      </div>
    </nav>

    <div class="container">
      <div class="card mt-5">
        <div class="card-body py-4 px-5">
          <div class="d-flex justify-content-end">
            <svg class="svg-inline--fa fa-pen fa-w-16 fa-fw select-all" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="pen" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M290.74 93.24l128.02 128.02-277.99 277.99-114.14 12.6C11.35 513.54-1.56 500.62.14 485.34l12.7-114.22 277.9-277.88zm207.2-19.06l-60.11-60.11c-18.75-18.75-49.16-18.75-67.91 0l-56.55 56.55 128.02 128.02 56.55-56.55c18.75-18.76 18.75-49.16 0-67.91z"></path></svg>
          </div>
          <div class="d-flex align-items-center">
            <div class="avatar avatar-xl">
              <img src="assets/images/faces/1.jpg" alt="Face 1" />
            </div>
            <div class="ms-3 name">
              <h5 class="font-bold">[[${session.user.nm}]]</h5>
              <h6 class="text-muted mb-0">[[${session.user.id}]]</h6>
            </div>
          </div>
        </div>
      </div>

	  <div class="card mt-5" th:each="prj : ${prjList}">
        <div class="card-header">
          <div class="row">
            <div class="col-8">
              <h4 class="card-title" th:text="${prj.prjNm}">프로젝트명</h4>
            </div>
            <div class="col-4 text-end prjBtn" th:id="${prj.prjUniNo}">
              <button type="button" class="btn btn-primary me-1 mb-1 setting"
              	th:if="${prj.grd} == 'G01'">
                설정
              </button>
              <button type="button" class="btn btn-primary me-1 mb-1 setting"
              	th:if="${prj.grd} == 'G02'">
                설정
              </button>
              <button type="button" class="btn btn-primary me-1 mb-1 adminSet"
              	th:if="${prj.grd} == 'G03'">
                프로젝트 관리
              </button>
              <button type="button" class="btn btn-primary me-1 mb-1 adminSet"
              	th:if="${prj.grd} == 'G04'">
                프로젝트 관리
              </button>
              <button type="button" class="btn btn-light-secondary me-1 mb-1 project">
                프로젝트로
              </button>
<!--               <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                      data-bs-target="#inlineForm">
                Launch Modal
              </button> -->
            </div>
          </div>
        </div>
<!--         Button trigger for login form modal
                                            

                                            login form Modal
                                            <div class="modal fade text-left" id="inlineForm" tabindex="-1"
                                                role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                                                    role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title" id="myModalLabel33">Login Form </h4>
                                                            <button type="button" class="close" data-bs-dismiss="modal"
                                                                aria-label="Close">
                                                                <i data-feather="x"></i>
                                                            </button>
                                                        </div>
                                                        <form action="#">
                                                            <div class="modal-body">
                                                                <label>Email: </label>
                                                                <div class="form-group">
                                                                    <input type="text" placeholder="Email Address"
                                                                        class="form-control">
                                                                </div>
                                                                <label>Password: </label>
                                                                <div class="form-group">
                                                                    <input type="password" placeholder="Password"
                                                                        class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-light-secondary"
                                                                    data-bs-dismiss="modal">
                                                                    <i class="bx bx-x d-block d-sm-none"></i>
                                                                    <span class="d-none d-sm-block">Close</span>
                                                                </button>
                                                                <button type="button" class="btn btn-primary ml-1"
                                                                    data-bs-dismiss="modal">
                                                                    <i class="bx bx-check d-block d-sm-none"></i>
                                                                    <span class="d-none d-sm-block">login</span>
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div> -->
        <div class="card-body">
          <p th:text="${prj.exdt}? '유료플랜 적용 기간 : '+${#dates.format(prj.payDt, 'yyyy-MM-dd')}+' ~ '+${#dates.format(prj.exdt, 'yyyy-MM-dd')} : '무료플랜 이용중'">
          	유료/무료
          </p>
          <p th:text="${prj.cd}">등급</p>
          <p>프로젝트 이메일 : <span th:text="${prj.prjPubcId}? ${prj.prjPubcId} : ' '"></span></p>
        </div>
      </div>
	  
      <div class="card mt-5">
        <div class="card-body">
          <button class="btn btn-block btn-xl btn-light-primary font-bold mt-3" onclick="location.href='prjInsert'">
            + 프로젝트 생성
          </button>
        </div>
      </div>
    </div>
    
    <!-- 설정 버튼 Modal -->
    <div class="modal fade" id="settingModal" tabindex="-1" role="dialog"
        aria-labelledby="settingModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="settingModalTitle"> 설정 <span class="prjName">[프로젝트 명]</span></h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x-circle"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <section class="row">
                        <div class="card">
                          <div class="card-header">
                            <h4 class="card-title">정보 변경</h4>
                          </div>
                          <div class="card-body">
                            <div class="accordion" id="alterAccordion">
                              <div class="card collapse-header">
                                <div class="card-header" id="headingAlter" data-bs-toggle="collapse" data-bs-target="#collapseAlter" aria-expanded="false" aria-controls="collapseAlter" role="button">
                                  <span class="collapsed collapse-title">정보 변경하기</span>
                                </div>
                                <div id="collapseAlter" class="collapse pt-1" aria-labelledby="headingAlter" data-parent="#alterAccordion">
                                  <div class="card-body">
                                    <div class="row">
                                      <label>프사: </label>
                                      <div class="form-group">
                                          <!-- Auto resize image file uploader -->
                                          <input type="file" class="image-resize-filepond" onchange="filech()"/>
                                      		<input type="file" id="userImage">
                                      </div>

                                      <label>이메일: </label>
                                      <div class="form-group">
                                        <input type="email" placeholder="Email Address" class="form-control email" onchange="myFunction()"/>
                                      </div>
            
                                      <label>이름: </label>
                                      <div class="form-group">
                                        <input type="text" placeholder="Name" class="form-control"/>
                                      </div>
            
                                      <label>부서: </label>
                                      <div class="form-group">
                                        <input type="text" placeholder="Department" class="form-control"/>
                                      </div>
            
                                      <label>직책: </label>
                                      <div class="form-group">
                                        <input type="text" placeholder="Position" class="form-control position" onchange="myFunction()"/>
                                      </div>            
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="card">
                          <div class="card-header">
                            <h4 class="card-title">프로젝트 탈퇴</h4>
                          </div>
                          <div class="card-body">
                            <div class="accordion" id="quitAccordion">
                              <div class="card collapse-header">
                                <div class="card-header" id="headingQuit" data-bs-toggle="collapse" data-bs-target="#collapseQuit" aria-expanded="false" aria-controls="collapseQuit" role="button">
                                  <span class="collapsed collapse-title">프로젝트 탈퇴하기</span>
                                </div>
                                <div id="collapseQuit" class="collapse pt-1" aria-labelledby="headingQuit" data-parent="#quitAccordion">
                                  <div class="card-body">
                                    <div class="row">
                                      <p>프로젝트를 탈퇴하시겠습니까?</p>
                                      <p>프로젝트 탈퇴 시 프로젝트 내 정보는 남아있습니다.</p>
                                      <p>프로젝트명을 입력 후 탈퇴하기 버튼을 누르면 탈퇴 가능합니다.</p>
                                    </div>
                                    <div class="row">
                                      <div class="col-sm-6">
                                        <input type="text" placeholder="프로젝트명" class="form-control form-control-lg"/>
                                      </div>
                                      <div class="col-sm-6 d-flex">
                                        <button type="button" class="btn btn-primary me-1 mb-1">탈퇴하기</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary ml-1"
                        data-bs-dismiss="modal">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Close</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <script src="assets/vendors/fontawesome/all.min.js"></script>

    <!-- filepond validation -->
    <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>

    <!-- image editor -->
    <script src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-filter/dist/filepond-plugin-image-filter.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>

    <!-- toastify -->
    <script src="assets/vendors/toastify/toastify.js"></script>

    <!-- filepond -->
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script>
        // register desired plugins...
        FilePond.registerPlugin(
            // validates the size of the file...
            FilePondPluginFileValidateSize,
            // validates the file type...
            FilePondPluginFileValidateType,

            // calculates & dds cropping info based on the input image dimensions and the set crop ratio...
            FilePondPluginImageCrop,
            // preview the image file type...
            FilePondPluginImagePreview,
            // filter the image file
            FilePondPluginImageFilter,
            // corrects mobile image orientation...
            FilePondPluginImageExifOrientation,
            // calculates & adds resize information...
            FilePondPluginImageResize,
        );
        
        // Filepond: Basic
        FilePond.create( document.querySelector('.basic-filepond'), { 
            allowImagePreview: false,
            allowMultiple: false,
            allowFileEncode: false,
            required: false
        });

        // Filepond: Multiple Files
        FilePond.create( document.querySelector('.multiple-files-filepond'), { 
            allowImagePreview: false,
            allowMultiple: true,
            allowFileEncode: false,
            required: false
        });

        // Filepond: With Validation
        FilePond.create( document.querySelector('.with-validation-filepond'), { 
            allowImagePreview: false,
            allowMultiple: true,
            allowFileEncode: false,
            required: true,
            acceptedFileTypes: ['image/png'],
            fileValidateTypeDetectType: (source, type) => new Promise((resolve, reject) => {
                // Do custom type detection here and return with promise
                resolve(type);
            })
        });

        // Filepond: ImgBB with server property
        FilePond.create( document.querySelector('.imgbb-filepond'), { 
            allowImagePreview: false, 
            server: {
                process: (fieldName, file, metadata, load, error, progress, abort) => {
                    // We ignore the metadata property and only send the file

                    const formData = new FormData();
                    formData.append(fieldName, file, file.name);

                    const request = new XMLHttpRequest();
                    // you can change it by your client api key
                    request.open('POST', 'https://api.imgbb.com/1/upload?key=762894e2014f83c023b233b2f10395e2');

                    request.upload.onprogress = (e) => {
                        progress(e.lengthComputable, e.loaded, e.total);
                    };

                    request.onload = function() {
                        if (request.status >= 200 && request.status < 300) {
                            load(request.responseText);
                        }
                        else {
                            error('oh no');
                        }
                    };

                    request.onreadystatechange = function() {
                        if (this.readyState == 4) {
                            if(this.status == 200) {
                                let response = JSON.parse(this.responseText);
                                
                                Toastify({
                                    text: "Success uploading to imgbb! see console f12",
                                    duration: 3000,
                                    close:true,
                                    gravity:"bottom",
                                    position: "right",
                                    backgroundColor: "#4fbe87",
                                }).showToast();
                    
                                console.log(response);
                            } else {
                                Toastify({
                                    text: "Failed uploading to imgbb! see console f12",
                                    duration: 3000,
                                    close:true,
                                    gravity:"bottom",
                                    position: "right",
                                    backgroundColor: "#ff0000",
                                }).showToast();   

                                console.log("Error", this.statusText);
                            }
                        }
                    };

                    request.send(formData);
                }
            }
        });

        // Filepond: Image Preview
        FilePond.create( document.querySelector('.image-preview-filepond'), { 
            allowImagePreview: true, 
            allowImageFilter: false,
            allowImageExifOrientation: false,
            allowImageCrop: false,
            acceptedFileTypes: ['image/png','image/jpg','image/jpeg'],
            fileValidateTypeDetectType: (source, type) => new Promise((resolve, reject) => {
                // Do custom type detection here and return with promise
                resolve(type);
            })
        });

        // Filepond: Image Crop
        FilePond.create( document.querySelector('.image-crop-filepond'), { 
            allowImagePreview: true, 
            allowImageFilter: false,
            allowImageExifOrientation: false,
            allowImageCrop: true,
            acceptedFileTypes: ['image/png','image/jpg','image/jpeg'],
            fileValidateTypeDetectType: (source, type) => new Promise((resolve, reject) => {
                // Do custom type detection here and return with promise
                resolve(type);
            })
        });

            // Filepond: Image Exif Orientation
        FilePond.create( document.querySelector('.image-exif-filepond'), { 
            allowImagePreview: true, 
            allowImageFilter: false,
            allowImageExifOrientation: true,
            allowImageCrop: false,
            acceptedFileTypes: ['image/png','image/jpg','image/jpeg'],
            fileValidateTypeDetectType: (source, type) => new Promise((resolve, reject) => {
                // Do custom type detection here and return with promise
                resolve(type);
            })
        });

        // Filepond: Image Filter
        FilePond.create( document.querySelector('.image-filter-filepond'), {
            allowImagePreview: true, 
            allowImageFilter: true,
            allowImageExifOrientation: false,
            allowImageCrop: false,
            imageFilterColorMatrix: [
                0.299, 0.587, 0.114, 0, 0,
                0.299, 0.587, 0.114, 0, 0,
                0.299, 0.587, 0.114, 0, 0,
                0.000, 0.000, 0.000, 1, 0
            ],
            acceptedFileTypes: ['image/png','image/jpg','image/jpeg'],
            fileValidateTypeDetectType: (source, type) => new Promise((resolve, reject) => {
                // Do custom type detection here and return with promise
                resolve(type);
            })
        });

        // Filepond: Image Resize
        FilePond.create( document.querySelector('.image-resize-filepond'), {
            allowImagePreview: true, 
            allowImageFilter: false,
            allowImageExifOrientation: false,
            allowImageCrop: false,
            allowImageResize: true,
            imageResizeTargetWidth: 200,
            imageResizeTargetHeight: 200,
            imageResizeMode: 'cover',
            imageResizeUpscale: true,
            acceptedFileTypes: ['image/png','image/jpg','image/jpeg'],
            fileValidateTypeDetectType: (source, type) => new Promise((resolve, reject) => {
                // Do custom type detection here and return with promise
                resolve(type);
            })
        });
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    
    <script>
    	document.querySelectorAll('.prjBtn').forEach(function(btn){
    		btn.addEventListener('click', function(){
    			if(event.target.tagName == "BUTTON"){
    				let prjId = btn.id;
    				if(event.target.classList.contains('project')){
    					window.location = 'main?prjUniNo='+prjId;
    				}else if(event.target.classList.contains('setting')){
    					// 회원정보불러오는 ajax
    					
    					// modal안에 정보 넣기
    					$('#settingModal').modal('show');
    					
    					console.log(prjId)
    					console.log()
    				}else if(event.target.classList.contains('adminSet')){
    					window.location = 'prjManage?prjUniNo='+prjId;
    				}
    			}
    		})
    	})
    </script>
    
    <script>
      // modal 안에서 정보 수정 버튼 눌렀을때
      // 프로젝트 멤버테이블 update, 프로필사진 있으면 삭제하고 insert -> 수정완료 alert
      
      // modal 안에서 탈퇴 눌렀을때
      // 프로젝트 명이랑 일차하는 지 확인
      // 프로젝트 멤버 참여 테이블에서 update(참여여부)
      //console.log(document.querySelector('.image-resize-filepond'))
      function myFunction(){
    	  console.log(event.target.classList.contains('email'))
    	  //console.log(document.querySelector('.email').value)
      }

    </script>
  </body>
</html>
