<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>프로젝트 회원 관리</title>
<link rel="stylesheet" href="assets/vendors/simple-datatables/style.css" />
</head>

<body>
	<div class="modal fade" id="membListModal" tabindex="-1" role="dialog"
		aria-labelledby="moreModalTitle" aria-hidden="true">
	    <div class="modal-dialog modal-dialog-scrollable" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h5 class="modal-title" id="moreModalTitle">
	                    팀원 목록</h5>
	                <button type="button" class="close" data-bs-dismiss="modal"
	                    aria-label="Close">
	                    <i class="bi bi-x-lg"></i>
	                </button>
	            </div>
	            <div class="modal-body">
	                <table class="table table-striped table-hover" id="payListTbl">
	                 <thead>
	                   <tr>
	                     <th>이름</th>
						 <th>이메일</th>
						 <th>부서</th>
						 <th>직책</th>
						 <th>권한</th>
	                   </tr>
	                 </thead>
	                 <tbody>
	                   <tr th:each="mem : ${membList}">
	                     <td th:text="${mem.nnm}">이름</td>
	                     <td th:text="${mem.prjPubcId}">이메일</td>
	                     <td th:text="${mem.dept}">부서</td>
	                     <td th:text="${mem.pos}">직책</td>
	                     <td th:text="${mem.cd}">권한</td>
	                   </tr>
	                 </tbody>
	                </table>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-light-secondary"
	                    data-bs-dismiss="modal">
	                    <i class="bx bx-x d-block d-sm-none"></i>
	                    <span class="d-none d-sm-block">Close</span>
	                </button>
	            </div>
	        </div>
	    </div>
	</div>
</body>
</html>
