<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Dashboard - Mazer Admin Dashboard</title>

<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
	href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap"
	rel="stylesheet" />
<link rel="stylesheet" href="assets/css/bootstrap.css" />

<link rel="stylesheet" href="assets/vendors/simple-datatables/style.css" />

<link rel="stylesheet"
	href="assets/vendors/perfect-scrollbar/perfect-scrollbar.css" />
<link rel="stylesheet"
	href="assets/vendors/bootstrap-icons/bootstrap-icons.css" />
<link rel="stylesheet" href="assets/css/app.css" />
<link rel="shortcut icon" href="assets/images/favicon.svg"
	type="image/x-icon" />
</head>

<body>
	<div id="app">
		<div id="sidebar" class="active">
			<div class="sidebar-wrapper active">
				<div class="sidebar-header">
					<div class="d-flex justify-content-between">
						<div class="logo">
							<a href="index.html"><img
								src="assets/images/logo/logo.png" alt="Logo" srcset="" /></a>
						</div>
						<div class="toggler">
							<a href="#" class="sidebar-hide d-xl-none d-block"><i
								class="bi bi-x bi-middle"></i></a>
						</div>
					</div>
				</div>
				<div class="sidebar-menu">
					<ul class="menu">
						<li class="sidebar-title">Menu</li>

						<li class="sidebar-item"><a href="프로젝트 관리.html"
							class="sidebar-link"> <i class="bi bi-bar-chart-fill"></i> <span>대시보드</span>
						</a></li>

						<li class="sidebar-item"><a href="프로젝트 관리2.html"
							class="sidebar-link"> <i class="bi bi-person-badge-fill"></i>
								<span>팀원관리</span>
						</a></li>

						<li class="sidebar-item"><a href="프로젝트 관리3.html"
							class="sidebar-link"> <i class="bi bi-life-preserver"></i> <span>프로젝트
									관리</span>
						</a></li>

						<li class="sidebar-item"><a href="프로젝트 관리4.html"
							class="sidebar-link"> <i class="bi bi-cash"></i> <span>결제정보</span>
						</a></li>
					</ul>
				</div>
				<button class="sidebar-toggler btn x">
					<i data-feather="x"></i>
				</button>
			</div>
		</div>
		<div id="main">
			<header class="mb-3">
				<a href="#" class="burger-btn d-block d-xl-none"> <i
					class="bi bi-justify fs-3"></i>
				</a>
			</header>

			<div class="page-heading">
				<div class="page-title">
					<div class="row">
						<div class="col-12 col-md-6 order-md-1 order-last">
							<h3>팀원 관리</h3>
							<p class="text-subtitle text-muted">팀원 관리</p>
						</div>
						<!-- <div class="col-12 col-md-6 order-md-2 order-first">
                <nav
                  aria-label="breadcrumb"
                  class="breadcrumb-header float-start float-lg-end"
                >
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="index.html">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      DataTable
                    </li>
                  </ol>
                </nav>
              </div> -->
					</div>
				</div>
				<section class="section">
					<div class="card">
						<div class="card-header">팀원 리스트</div>
						<div class="card-body">
							<table class="table table-striped table-hover" id="table1">
								<thead>
									<tr>
										<th>이름</th>
										<th>이메일</th>
										<th>부서</th>
										<th>직책</th>
										<th>권한</th>
										<th>관리</th>
									</tr>
								</thead>
								<tbody id="tbd">
									
									<!-- Vertically Centered modal Modal -->
									<div class="modal fade" id="manage" tabindex="-1" role="dialog"
										aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
										<div
											class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable"
											role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalCenterTitle">
														팀원 관리</h5>
													<button type="button" class="close" data-bs-dismiss="modal"
														aria-label="Close">X</button>
												</div>
												<form action="#">
													<div class="modal-body">
														<div class="row">
															<div class="d-flex align-items-center">
																<div class="avatar avatar-xl">
																	<img src="assets/images/faces/1.jpg" alt="Face 1" />
																</div>
																<div class="ms-3 name">
																	<p class="font-bold" id="nm">이름</p>
																	<p class="text-muted mb-0" id="mail">이메일</p>
																	<p class="text-muted mb-0" id="power">권한</p>
																</div>
															</div>
														
														</div>
														
														<label>선택: </label>
														<div class="form-group">
															<select class="form-select" onChange="getselect()" id="action">
																<option value="1">권한 변경</option>
																<option value="2">탈퇴</option>
															</select>
														</div>
														
														<div class="visually-hidden" id="out">
															<label>탈퇴 사유: </label>
															<div class="form-group">
																<input type="text" placeholder="탈퇴 사유"
																	class="form-control" id="outCause">
															</div>														
														</div>
														
														<div id="gain">
															<label>권한 선택: </label>
															<div class="form-group">
																<select class="form-select" id="selectGain">
																	
																</select>
															</div>														
														</div>
														
														
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-light-secondary"
															data-bs-dismiss="modal">
															<i class="bx bx-x d-block d-sm-none"></i> <span
																class="d-none d-sm-block">Close</span>
														</button>
														<button type="button" class="btn btn-primary ml-1"
															data-bs-dismiss="modal" onclick="modalclick()">
															<i class="bx bx-check d-block d-sm-none"></i> <span
																class="d-none d-sm-block">등록</span>
														</button>
														<button type="button" >dd</button>
													</div>
												</form>
											</div>
										</div>
									</div>

								</tbody>
							</table>
						</div>
					</div>
				</section>
			</div>

			<footer>
				<div class="footer clearfix mb-0 text-muted">
					<div class="float-start">
						<p>2021 &copy; Mazer</p>
					</div>
					<div class="float-end">
						<p>
							Crafted with <span class="text-danger"><i
								class="bi bi-heart"></i></span> by <a href="http://ahmadsaugi.com">A.
								Saugi</a>
						</p>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<script src="assets/vendors/simple-datatables/simple-datatables.js"></script>
	<script>
		// Simple Datatable
		//let table1 = document.querySelector("#table1");
		//let dataTable = new simpleDatatables.DataTable(table1);
	</script>

	<script src="assets/js/main.js"></script>
	<script>
		var particiId = '';
		document.querySelectorAll('.memMng').forEach(function(mng){
			console.log(mng)
			mng.addEventListener('click', function(){
				console.log(event.target)
				let tr = event.target.parentElement.parentElement
				particiId = event.target.id;
				nm.textContent = tr.childNodes[0].textContent;
				mail.textContent = tr.childNodes[1].textContent;
				power.textContent = tr.childNodes[4].childNodes[0].textContent;
		    	outCause.value=''
		    	action.options[0].selected = true;
		    	out.classList.add('visually-hidden');
		    	gain.classList.remove('visually-hidden');
		    	console.log(particiId)
			})
		})
		
		function modalclick(){
			console.log(particiId);
			let select = document.getElementById('action');
		    let option = select.options[select.selectedIndex];
		    if(option.value == "1"){
		    	console.log('권한 선택')
		    }else if(option.value == "2"){
		    	console.log('탈퇴 선택')
		    }
		}
		
		function getselect(){
			var select = document.getElementById('action');
		    var option = select.options[select.selectedIndex];

		    if(option.value == "1"){
		    	//console.log('권한')
		    	out.classList.add('visually-hidden');
		    	gain.classList.remove('visually-hidden');
		    }else if(option.value == "2"){
		    	//console.log('탈퇴')
		    	out.classList.remove('visually-hidden');
		    	gain.classList.add('visually-hidden');
		    }
		}
		
 		 let field = ['nnm', 'prjPubcId', 'dept', 'pos'];
		// 회원 리스트 ajax
		fetch('prjParList?prjUniNo=' + '[[${prjNo}]]')
		  .then(data => data.json())
		  .then(result => {
		    result.forEach(item => {
		      let tr = document.createElement('tr');
		      let td = document.createElement('td');
		
		      for (let i of field) {
		        td = document.createElement('td');
		        if (item.hasOwnProperty(i)) {
		          td.textContent = item[i];
		        } else {
		          td.textContent = '';
		        }
		        tr.append(td);
		      }
		
		      td = document.createElement('td');
		      let span = document.createElement('span');
		      span.classList.add('badge', 'bg-success');
		      span.textContent = item.cd;
		      td.append(span);
		      tr.append(td);
		
		      td = document.createElement('td');
		      let btn = document.createElement('button');
		      btn.textContent = '관리';
		      btn.classList.add('btn', 'btn-outline-primary', 'block');
		      btn.id = item.particiMembUniNo;
		      btn.setAttribute('data-bs-toggle', 'modal');
		      btn.setAttribute('data-bs-target', '#manage');
		
		      td.append(btn);
		      tr.append(td);
		      tbd.append(tr);
		    });
		 	// 이벤트 리스너를 부모 요소에 추가
		    tbd.addEventListener('click', function(event) {
		      if (event.target.classList.contains('btn-outline-primary')) {
		        let tr = event.target.parentElement.parentElement;
		        particiId = event.target.id;
		        nm.textContent = tr.childNodes[0].textContent;
		        mail.textContent = tr.childNodes[1].textContent;
		        power.textContent = tr.childNodes[4].childNodes[0].textContent;
		        outCause.value = '';
		        action.options[0].selected = true;
		        out.classList.add('visually-hidden');
		        gain.classList.remove('visually-hidden');
		        console.log(particiId);
		      }
		    });
		    // Simple Datatable
		    let table1 = document.querySelector("#table1");
		    let dataTable = new simpleDatatables.DataTable(table1);
		  });
		
		// 공통코드 ajax
		fetch('grdCode')
		.then(data => data.json())
		.then(result => {
			result.forEach(item => {
                //console.log(item)
                let opt = document.createElement('option');
                opt.value = item.cdNo;
                opt.text = item.cd;
                selectGain.options.add(opt);
            })
		})
		
		
		
	</script>

</body>
</html>
