<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>MODU</title>
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
	rel="stylesheet" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
	rel="stylesheet" />
<link href="assets/css/styles.css" rel="stylesheet" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</head>

<body class="d-flex flex-column h-100">
	<main class="flex-shrink-0">
		<nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
			<div class="container-lg">
				<a class="navbar-brand" th:href="@{/}"><span
					class="fw-bolder text-primary">MODU</span></a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
						<li class="nav-item"><a class="nav-link"
							href="/modu/noticeList">공지사항</a></li>
						<li class="nav-item"><a class="nav-link" href="FAQList">FAQ</a></li>
						<li class="nav-item"><a class="nav-link" href="subscribe">요금안내</a></li>
						<li class="nav-item"
							th:if="${#httpServletRequest.userPrincipal != null and #httpServletRequest.userPrincipal.authorities.contains('ROLE_ADMIN')}">
							<a class="nav-link" href="#">관리자메뉴</a>
						</li>
						<li class="nav-item"
							th:if="${#httpServletRequest.userPrincipal == null}"><a
							class="nav-link" href="login">로그인</a></li>
						<li class="nav-item"
							th:if="${#httpServletRequest.userPrincipal != null}"><a
							class="nav-link" href="logout">로그아웃</a></li>
						<li class="nav-item"
							th:if="${#httpServletRequest.userPrincipal != null and #httpServletRequest.isUserInRole('ROLE_ADMIN')}">
							<a class="nav-link" th:href="@{admin/dashBoard}">관리자 메뉴</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>


		<div class="row  d-flex justify-content-center">
			<div class="col-md-8 col-sm-12">
				<h2>공지사항조회</h2>
				<div class="card">
					<div class="card-body">

						<div class="form-group mb-3">

							<div class="form-group">

								<table>
									<tr>
										<th>제목</th>
										<td>[[${notice.ttl}]]</td>
									</tr>
									<tr>
										<th>본문</th>
										<td>[[${notice.cntn}]]</td>
									</tr>
								</table>

								<!--버튼부-->
								<hr>
								<div class="buttons d-flex justify-content-end">
									<a
										th:href="@{/noticeUpdate(noticeUniNo=${notice.noticeUniNo})}"><button
											type="button" class="btn btn-primary"
											th:if="${#httpServletRequest.userPrincipal != null} and ${session.user.grd} == 'A'">
											수정</button></a>
									<button type="button" class="btn btn-primary"
										th:data-noticeUniNo="${notice.noticeUniNo}" id="delNoticeBtn"
										th:onclick="deleteNotice(event)"
										th:if="${#httpServletRequest.userPrincipal != null} and ${session.user.grd} == 'A'">삭제</button>
									<a th:href="@{/noticeList}"><button type="button"
											class="btn btn-light">돌아가기</button></a>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<script>
			function deleteNotice(e){
				console.log(e.target);
				let notiNum = e.target.dataset.noticeunino;
				console.log(notiNum);

				let delNo = notiNum;

				fetch('/modu/noticeDelete',{
					method : 'post',
					headers : {
						'Content-Type': 'text/plain' 
					},
					body : delNo
				})
				.then(result => result.text())
				.then(data => {
					console.log(data);
					window.location.href = "/modu/noticeList";
					
				})
				.catch(err => console.log(err))
			}
		</script>
		</div>
</body>

</html>