<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">
<div layout:fragment="content">

	<script th:inline="javascript">
    /*<![CDATA[*/
    let schAllDatas =/*[[${scheList}]]*/
    let partici = /*[[${session.particiMembUniNo}]]*/
    	/*  $.ajax("scheListFetch")
  	.done(result=>{
    var schAllDatas = result;
    initializeCalendar(schAllDatas);
  	}) */
  	let schegrd = /*[[${session.grd}]]*/
    let membList =/*[[${membList}]]*/
    /*]]>*/
  	</script>

	<script>
	 /* function initializeCalendar(schAllDatas) { */
	let navTop;
	var calendar;
	var scheNo;
	let formattedEvents = []
    document.addEventListener('DOMContentLoaded', function () {
      var calendarEl = document.getElementById('calendar1');
      allEvents = schAllDatas;  
      
      console.log('데이터', allEvents);

      formattedEvents = allEvents.map(eventData => ({
        title: eventData.title,
        start: eventData.start,
        end: eventData.end,
        //color: eventData.postType == '1' ? 'indianred' : '#35A880',
        classNames: 'sideWork',
        extendedProps: {
          sche_uni_no: eventData.scheUniNo
        },
        id : eventData.scheUniNo
      }));

		console.log(formattedEvents)
      calendar = new FullCalendar.Calendar(calendarEl, {
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth'
        },
        eventClick: function (info) {
          console.log('이벤트: ' + info.event);
          navTop = event.target.closest('.fc-event');//바 위치
          scheNo = info.event.id;
          
          fetch("scheInfo/" + scheNo) //단건조회 fetch
            .then((response) => response.json())
            .then((result) => {
            	document.getElementById('partici').innerText = '';
              let scheInfo = result.scheInfo; //단건조회 일정정보
              if(scheInfo.particiMembUniNo == partici || schegrd == 'G03' || schegrd == 'G04'){
            	  $('#scheDropdown').css("display","block");
              }
              
              $('#ttl').text(scheInfo.title);
              $('#cntn').text(scheInfo.cntn);
              if (result.partici.length > 0) {
            	  console.log(result.partici)
            	  for(let i=0; i<result.partici.length; i++){
            		  document.getElementById('partici').innerText += result.partici[i].title
            		  if(i != result.partici.length -1){
            			  document.getElementById('partici').innerText += ', '
            		  }
                }
            	  
              } else {
                $('#partici').text('참여멤버가 없습니다')
              }
              
              
              //일정 시간을 한국식으로 변환하기 위한것
              const scheDateInfoStart = new Date(scheInfo.start);
              const scheDateInfoEnd = new Date(scheInfo.end);
              
              const options = {
            		  year: 'numeric',
            		  month: '2-digit',
            		  day: '2-digit',
            		  hour: 'numeric',
            		  hour12: true,
            		  minute: 'numeric'
            		};

            // 한국식 날짜와 시간으로 변환
            scheDateInfoEnd.toLocaleString('ko-KR', options);
              
              
            document.getElementById('startDate').innerText = scheDateInfoStart.toLocaleString('ko-KR', options);;
            document.getElementById('finishDate').innerText = scheDateInfoEnd.toLocaleString('ko-KR', options);
              
            $('#noInfo').val(scheInfo.scheUniNo);
            
            
            //일정 삭제
                       
            })
          $("#scheInfo").modal("show");
        },
        
        //날짜 공간 클릭(일정 추가 공간)
        dateClick: function (info) {

        	if(schegrd == 'G01'){
        		console.log('11111');
        	}else{
        	//날짜가 미국식으로 돼서 9시간 전으로 표기되어 9시간을 더해줌.
        	 const offset = 1000 * 60 * 60 * 9;
        	 const date = new Date(info.date.getTime()+offset);
        	 

        	// 원하는 형식으로 날짜를 변환 입력 모달창에 기본 날짜값들 
        	const formattedDate = date.toISOString().slice(0, 16);
        	document.getElementById('3').value = formattedDate;
        	document.getElementById("4").setAttribute("min",formattedDate);
        	
          $("#scheInsert").modal("show");
        	}
        },
        dayMaxEventRows: true, // for all non-TimeGrid views
        views: {
          timeGrid: {
            dayMaxEventRows: 3 // adjust to 6 only for timeGridWeek/timeGridDay
          }
        },
        initialDate: new Date(),
        navLinks: false, // can click day/week names to navigate views
        businessHours: false, // display business hours
        editable: true,	
        selectable: false,
        allDaySlot: false,
        displayEventTime: true,
        locale: 'ko',
        dayMaxEvents: true,
        
      });
      calendar.addEventSource(formattedEvents);
      calendar.render();
    });

    
    //날짜 타입을 풀캘린더에 맞춰서 변환해주기위한 함수
     function changeTimes(dateTimeStr) {
        const date = new Date();
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const day = String(date.getDate()).padStart(2, '0');
        const hours = String(date.getHours()).padStart(2, '0');
        const minutes = String(date.getMinutes()).padStart(2, '0');
   
        return `${year}-${month}-${day} ${dateTimeStr}`;
      } 
    

    
	 function populateSelectOptions(data) {
		  const selectElement = document.getElementById('cm1');
		  selectElement.innerHTML = '';
		
		  data.forEach((optionData) => {
		    const optionElement = document.createElement('option');
		    optionElement.textContent = optionData.title;
		    optionElement.value = optionData.particiMembUniNo;
		    selectElement.appendChild(optionElement);
		  });
		} 
    
	  //모달  일정상세 숨기기
	    function hideInfo(){
	    	$("#scheInfo").modal("hide");
	    }

  </script>


	<div id='calendar1'></div>

	<!-- 일정 생성 모달 -->
	<div class="modal fade text-left" id="scheInsert" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel3752" aria-hidden="true">
		<div
			class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
			role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel3752">일정 추가</h4>
					<button type="button" class="close" data-bs-dismiss="modal"
						aria-label="Close">
						<i data-feather="x"></i>
					</button>
				</div>
				<form name="scheInsert1">
					<div class="modal-body">
						<h6>제목</h6>
						<div class="form-group">
							<input type="text" placeholder="제목을 입력해주세요"
								onchange="insertScheTtl()" id="1" class="form-control"
								name="title">
						</div>
						<h6>내용</h6>
						<div class="form-group">
							<input type="text" placeholder="내용을 입력해주세요" id="2"
								class="form-control" name="cntn">
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<label class="input-group-text">초대멤버</label> <select
									name="scheParticiUniNo[]" class="choices form-select asdfas"
									multiple="multiple" id="cm">
									<option th:value="${i.particiMembUniNo}"
										th:each="i:${membList}">[[${i.nnm}]]</option>
								</select>
							</div>
						</div>
						<h6>일정날짜</h6>
						<div class="row">
							<div class="col-sm-5">
								<div class="form-group">
									<input type="datetime-local" onchange="dateChange1()"
										class="form-control" name="start" id="3">
								</div>
							</div>
							&nbsp~&nbsp
							<div class="col-sm-5">
								<div class="form-group">
									<!-- oninput="dateChange1()" -->
									<input type="datetime-local" class="form-control" name="end"
										id="4">
								</div>
							</div>
							<p style="color: red; display: none;" id="red">시작날짜와 마감날짜를 모두
								입력해주세요.</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-light-secondary"
								data-bs-dismiss="modal">
								<i class="bx bx-x d-block d-sm-none"></i> <span
									class="d-none d-sm-block">취소</span>
							</button>
							<button type="button" id="insertScheId" onclick="insertSche()"
								class="btn btn-primary ml-1">
								<i class="bx bx-check d-block d-sm-none"></i> <span
									class="d-none d-sm-block">저장하기</span>
							</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
	<!-- 일정 생성 모달 끝 -->
	<!-- 일정 상세 모달 시작 -->
	<div class="modal fade text-left" id="scheInfo" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel37521" aria-hidden="true">
		<div
			class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
			role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel37521">일정 상세</h4>
					<div id="scheDropdown" display="hidden">
						<button class="btn btn-primary dropdown-toggle me-1" type="button"
							id="dropdownMenuButton" data-bs-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"></button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" onclick="yetPartici()"
								data-bs-target="#scheUpdate" data-bs-toggle="modal">수정</a> <a
								class="dropdown-item" data-bs-toggle="modal"
								data-bs-target="#deleteSche" onclick="hideInfo()">삭제</a>
						</div>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
				</div>
				<div class="modal-body">
					<h6>제목</h6>
					<div class="form-group">
						<p id="ttl"></p>
					</div>
					<h6>참여멤버</h6>
					<div class="form-group" id="partici"></div>
					<h6>내용</h6>
					<div class="form-group">
						<p id="cntn"></p>
					</div>
					<div class="row">
						<div class="col-sm-5">
							<div class="form-group">
								<h6>시작날짜</h6>
								<p id="startDate"></p>
							</div>
						</div>
						<div class="col-sm-5">
							<div class="form-group">
								<h6>마감날짜</h6>
								<p id="finishDate"></p>
							</div>
						</div>
					</div>
					<input type=hidden id="noInfo">
				</div>
			</div>
		</div>
	</div>

	<!-- 일정 상세 모달 끝 -->

	<!-- 일정 삭제 모달 -->
	<div class="modal fade text-left" id="deleteSche" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel199" aria-hidden="true">
		<div
			class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
			role="document">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h5 class="modal-title white" id="myModalLabel199">할일 삭제</h5>
					<button type="button" class="close" data-bs-dismiss="modal"
						aria-label="Close">
						<i data-feather="x"></i>
					</button>
				</div>
				<div class="modal-body">
					이 할일을 삭제하시겠습니까?<br> 삭제하시면 복구 할 수 없습니다.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-light-secondary"
						data-bs-dismiss="modal" onclick="showInfo()">
						<i class="bx bx-x d-block d-sm-none"></i> <span
							class="d-none d-sm-block">취소</span>
					</button>
					<button onclick="delSche()" type="button"
						class="btn btn-primary ml-1" data-bs-dismiss="modal">
						<i class="bx bx-check d-block d-sm-none"></i> <span
							class="d-none d-sm-block">확인</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 일정 삭제 모달 끝 -->

	<!-- 일정 수정 모달 -->
	<div class="modal fade text-left" id="scheUpdate" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel37555" aria-hidden="true">
		<div
			class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
			role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel37555">일정 수정</h4>
					<button type="button" class="close" data-bs-dismiss="modal"
						aria-label="Close">
						<i data-feather="x"></i>
					</button>
				</div>
				<div id="testtttttttedsds"></div>
			</div>
		</div>
	</div>
	<!-- 일정 수정 모달 끝 -->

	<script>

	
	//일정 만들때 시작날짜선택시 달력막기용
    var chdate = document.getElementById("3")
	function dateChange1(){
		console.log(chdate.value)
    	document.getElementById("4").setAttribute("min", chdate.value); 
    	//$('#4').attr('min', $('#3').val());
    }
    
    
  //일정 db에 추가 버튼 능력
  function insertSche() {
		let ScheBtn  = document.getElementById('insertScheId');
		let Schettl = document.getElementById('1');
		let ScheStart = document.getElementById('3');
		let ScheEnd = document.getElementById('4');

			if(Schettl.value == ''){
				Schettl.placeholder = "제목을 입력하시지 않으셨습니다."
				return;
			}else if(ScheStart.value == '' || ScheEnd .value == ''){
				$('#red').show();
				 return;
			}
		
   let scheInsertData = {
          "title": $('#1').val(),
          "cntn": $('#2').val(),
          "start": $('#3').val(),
          "end": $('#4').val(),
          "particiMembUniNos": $("#cm option:selected").map(function(){ return $(this).val(); }).get()
      };
	console.log(scheInsertData);
      fetch("scheInsert", {
          method: 'post',
          headers: {
              'Content-Type': 'application/json',
          },
          body: JSON.stringify(scheInsertData)
      })
      .then(result => result.json())
      .then(data => {
    	  $("#scheInsert").modal("hide");
    	  scheInsertData.id = data.scheUniNo;
    	  console.log(scheInsertData);
             calendar.addEvent(scheInsertData);
    	  calendar.render();
    	});
}   
   
  function delSche() {
      let scheUniNo = $('#noInfo').val();
      let data = {
        "scheUniNo": scheUniNo
      }

      console.log(data);
      fetch("scheDelte", {
          method: "post",
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data)
        })
        .then((response) => response.json())
        .then((result) => {
        	console.log(scheNo)
        	calendar.getEventById(scheUniNo).remove();
        })
        }

    
    
    //수정 불러오기
    function yetPartici(){
    	 $("#scheInfo").modal("hide");
    	 let scheUniNo = $('#noInfo').val();
    	 $.ajax("yetPartici?scheUniNo="+scheUniNo)
    		.done(result=>$("#testtttttttedsds").html(result));
			 
    }
    

    //모달 일정 삼세 나타내기
    function showInfo(){
    	$("#scheInfo").modal("show");
    }
    

    </script>
	<script>
		var initChoice1 = new Choices(document.querySelector('.asdfas'));
	
	</script>
	<!-- 레이아웃 끝 -->
</div>

</html>
