<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.modu.app.prj.sche.mapper.ScheMapper">
 
	 <!-- 일정 리스트 -->
	 <select id="scheList" resultType="scheVO" parameterType="String">
	 select sche_uni_no,prj_uni_no,title,partici_memb_uni_no,cntn,fr_dt "start",to_dt "end"
	 from sche
	 where prj_uni_no=#{prjUniNo}
	 </select>
 
	 <!-- 일정 등록 -->
	 <insert id="scheInsert" parameterType="ScheVO">
	 <selectKey keyProperty="scheUniNo" resultType="String" order="BEFORE">
			SELECT  'S'||sche_seq.nextval FROM dual
	</selectKey>
	INSERT INTO sche(
					SCHE_UNI_NO,
					 PRJ_UNI_NO,
					 PARTICI_MEMB_UNI_NO, 
					 TITLE, 
					 CNTN, 
					 FR_DT, 
					 TO_DT
					)
		values(#{scheUniNo},
					#{prjUniNo},
					#{particiMembUniNo},
					#{title},
					#{cntn},
					#{start},
					#{end}
			)
	</insert>
	
	<!-- 일정 참가자 등록 -->
	<insert id="scheInsertPartici" parameterType="ScheVO">
	<selectKey keyProperty="scheParticiMembUniNo" resultType="String" order="BEFORE">
			SELECT 'SQ'||SCHE_PARTICI_SEQ.nextVal FROM dual
	</selectKey>
	INSERT INTO SCHE_PARTICI(
							SCHE_PARTICI_MEMB_UNI_NO,
							PARTICI_MEMB_UNI_NO,
							SCHE_UNI_NO
							)
					values(
							#{scheParticiMembUniNo},
							#{particiMembUniNo},
							#{scheUniNo}
					)
	</insert>

	<!-- 단건 조회 -->
	<select id="scheInfo" resultType="scheVO" parameterType="String">
	    select SCHE_UNI_NO, PRJ_UNI_NO, title, PARTICI_MEMB_UNI_NO, CNTN,FR_DT "start", TO_DT "end"
	    from  sche 
	    where sche_uni_no=#{scheUniNo}
	</select>
	
	<!-- 제외 참여자 조회 -->
	<select id="yetPartici" resultType="scheVO">
	SELECT FIND_NICKNAME(partici_memb_uni_no) title, partici_memb_uni_no
	FROM prj_partici_memb
	WHERE prj_uni_no =#{prjUniNo} AND partici_memb_uni_no NOT IN (
    															SELECT partici_memb_uni_no
															    FROM sche_partici
															    WHERE sche_uni_no = #{scheUniNo}
																)
	</select>
	
	<!-- 참여테이블 비우기 -->
	<delete id="scheParticiDelete" parameterType="String">
	delete from SCHE_PARTICI
	where SCHE_UNI_NO=#{scheUniNo}
	</delete>
	
	<!-- 참여자들 -->
	<select id="schePartici" resultType="scheVO">
	SELECT SCHE_UNI_NO,FIND_NICKNAME(partici_memb_uni_no) title, PARTICI_MEMB_UNI_NO
	FROM SCHE_PARTICI
	 where sche_uni_no=#{scheUniNo}
	</select>

	<!-- 일정 삭제 -->
	<delete id = "scheDelete" parameterType="String">
	delete from sche
	where sche_uni_no=#{scheUniNo}
	</delete>
	
	<!-- 일정 업데이트 -->
	<update id = "scheUpdate" parameterType="scheVO">
	update sche <set>
				<if test="title != null and !title.equals('')">
							title=#{title},
				</if>
				<if test="cntn != null and !cntn.equals('')">
							cntn=#{cntn},
				</if>
				<if test="start != null and !start.equals('')">
							fr_dt=#{start},
				</if>
				<if test="end != null and !end.equals('')">
							to_dt=#{end},
				</if>
				</set>
	WHERE sche_uni_no=#{scheUniNo}
	</update>
	
 </mapper>