<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.modu.app.prj.user.mapper.UserMapper">

	<!-- 로그인 체크, 비밀번호는 시큐리티에서 체크 -->
	<select id="loginCheck" resultType="UserVO"
		parameterType="String">
		select *
		from memb
		where id= #{id}
		AND QUIT = 'N'
		AND email_auth = 'Y'
	</select>

<!-- 아이디 중복체크 -->
<select id="idVaild" resultType="int">
    SELECT COUNT(*) FROM memb WHERE LOWER(id) = LOWER(#{id})
</select>


	<!-- 회원가입 -->
	<insert id="signup" parameterType="UserVO">
		INSERT INTO memb (
		MEMB_UNI_NO
		, ID
		, PWD
		, NM
		, PH_NO
		, SNS
		, QUIT
		, GRD
		, REG_DT
		, EMAIL_AUTH
		, TOKEN
		)
		VALUES (
		'mt' ||
		memb_seq.nextval
		,#{id}
		,#{pwd}
		,#{nm}
		,#{phNo}
		,'N'
		,'N'
		,'N'
		,sysdate
		,'N'
		,#{emailToken}
		)
	</insert>
	
	<!-- 이메일인증N -->
	<select id="emailAuth" resultType="UserVO">
		select *
		from memb
		where id= #{id}
		AND QUIT = 'N'
		AND email_auth = 'N'
    </select>

	<!-- 회원정보 수정 -->
	<update id="updateBoard" parameterType="userVO" >
		UPDATE memb
		<set>
			<if test="id != null and !id.equals('')">
				id = #{id},
			</if>
			<if test="PWD != null and !writer.equals('')">
				PWD = #{pwd},
			</if>
			<if test="nm != null and !contents.equals('')">
				nm = #{nm},
			</if>
			<if test="ph_no != null and !image.equals('')">
				ph_no = #{phNo},
			</if>
		</set>
		WHERE memb_uni_no = #{membUniNo}
	</update>


	<!-- 회원탈퇴 (update)로 -->
	<update id="userQuit" parameterType="UserVO">
		UPDATE memb
		SET QUIT='Y'
		WHERE memb_uni_no = #{membUniNo}
	</update>


	<!-- 아이디 찾기 -->
	<select id="idSearch" parameterType="UserVO">
		SELECT id
		FROM memb
		WHERE
		PH_NO = #{phNo}
	</select>

	<!-- 비밀번호 찾기 -->
	<update id="pwdSearch" parameterType="String">
		UPDATE memb
		SET pwd=#{pwd}
		WHERE id=#{id}
	</update>

	<!-- 회원 리스트 -->
	<select id="userList">
		SELECT *
		FROM memb
	</select>

</mapper>
  
  