<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
</head>
<body>
    <!-- 이메일 변경 -->
    <h3>이메일 변경</h3>
    <div>
        <input type="email" placeholder="기존 이메일">
    </div>
    <div>
        <input type="email" placeholder="새로운 이메일">
        <button>인증번호 발송</button>
    </div>
    <div>
        <input type="text" placeholder="인증번호 입력">
        <button>인증번호 확인</button>
    </div>
    <button>변경 완료</button>

    <!-- 비밀번호 변경 -->
    <h3>비밀번호 변경</h3>
    <div>
        <input type="password" placeholder="기존 비밀번호">
    </div>
    <div>
        <input type="password" placeholder="현재 비밀번호">
        <input type="password" placeholder="새로운 비밀번호">
        <input type="password" placeholder="새로운 비밀번호 확인">
    </div>
    <button>변경 완료</button>

    <!-- 이름 변경 -->
    <h3>이름 변경</h3>
    <div>
        <input type="text" placeholder="기존 이름">
    </div>
    <div>
        <input type="text" placeholder="새로운 이름">
    </div>
    <button>변경 완료</button>

    <!-- 휴대폰 번호 변경 -->
    <h3>휴대폰 번호 변경</h3>
    <div>
        <input type="tel" placeholder="기존 휴대폰 번호">
    </div>
    <div>
        <input type="tel" placeholder="새로운 휴대폰 번호">
        <button>인증번호 발송</button>
    </div>
    <div>
        <input type="text" placeholder="인증번호 입력">
        <button>인증번호 확인</button>
    </div>
    <button>변경 완료</button>

    <!-- 계정 탈퇴 -->
    <h3>계정 탈퇴</h3>
    <button>계정 탈퇴</button>
</body>
</html>
