<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap.css">

    <link rel="stylesheet" href="assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon">
</head>

<body>
    <nav class="navbar navbar-light">
        <div class="container d-block">
            <a href="index.html"><i class="bi bi-chevron-left"></i></a>
            <a class="navbar-brand ms-4" href="index.html">
                <img src="assets/images/logo/logo.png">
            </a>
        </div>
    </nav>
    <div class="container">
        
        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>FAQ </h3>
                        <p class="text-subtitle text-muted">리스트
                        </p>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page">FAQList</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <section class="section">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">FAQ 리스트</h4>
                            </div>
                            <div class="card-body">
								<table class="table table-striped" id="faqTbl">
	                                <thead>
	                                    <tr>
	                                        <th>번호</th>
	                                        <th>제목</th>
	                                        <th>카테고리</th>
	                                        <th>작성자</th>
	                                    </tr>
	                                </thead>
	                                <tbody>
	                                	<tr th:each="faq : ${faqList}">
	                                        <th th:text="${faq.faqNo}">번호</th>
	                                        <th th:text="${faq.ttl}">제목</th>
	                                        <th th:text="${faq.cate}">카테고리</th>
	                                        <th th:text="${faq.membUniNo}">작성자</th>
	                                    </tr>
	                                </tbody>
	                           </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <script src="assets/js/bootstrap.bundle.min.js"></script>


</body>

</html>