<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap.css">

    <link rel="stylesheet" href="assets/vendors/summernote/summernote-lite.min.css">

    <link rel="stylesheet" href="assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon">
</head>

<body>
    <nav class="navbar navbar-light">
        <div class="container d-block">
            <a href="index.html"><i class="bi bi-chevron-left"></i></a>
            <a class="navbar-brand ms-4" href="index.html">
                <img src="assets/images/logo/logo.png">
            </a>
        </div>
    </nav>
    <div class="container">
        
        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>FAQ </h3>
                        <p class="text-subtitle text-muted">수정
                        </p>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page">FAQModify</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <section class="section">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">FAQ 작성</h4>
                            </div>
                            <div class="card-body">
								<form id="faqForm">
								    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row align-items-center">
                                                <div class="col-lg-2 col-3">
                                                    <label class="col-form-label">제목</label>
                                                </div>
                                                <div class="col-lg-8 col-9">
                                                    <input type="text" id="title" class="form-control" placeholder="제목">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row align-items-center">
                                                <div class="col-lg-2 col-3">
                                                    <label class="col-form-label">카테고리</label>
                                                </div>
                                                <div class="col-lg-8 col-9">
													<select class="form-select" id="cate">
				                                        <option value="1">1</option>
				                                        <option value="2">2</option>
				                                        <option value="3">3</option>
				                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
								    <div id="summernote"></div>
								    
								</form>
                            </div>
                            <div class="card-footer d-flex justify-content-end">
                            	<button type="button" id="saveFAQ" class="btn btn-primary">저장</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <script src="assets/vendors/jquery/jquery.min.js"></script>
    <script src="assets/vendors/summernote/summernote-lite.min.js"></script>
    <script>
	    $('#summernote').summernote({
	        tabsize: 2,
	        height: 400,
	        callbacks: {
	            onImageUpload: function(files) {
	                uploadImage(files[0]);
	            }
	        }
	    });
	    
		let test=0;
	    function uploadImage(file) {
	        let formData = new FormData();
	        formData.append('image', file);

	        $.ajax({
	            url: 'upload-image',
	            method: 'POST',
	            data: formData,
	            contentType: false,
	            processData: false,
	            success: function(data) {
	            	console.log(data)
	            	$('#summernote').summernote('editor.insertImage', data);

	            }
	        });
	    }

	    $('#saveFAQ').click(function() {
	        let title = $('#title').val();
	        let cate = $('#cate').val();
	        let content = $('#summernote').summernote('code');
	        let faqNo = '[[${faq.faqNo}]]'
	        console.log(content)
	        $.ajax({
	            type: 'POST',
	            url: 'modify-content',
	            contentType: 'application/json',
	            data: JSON.stringify({ ttl: title, cate: cate, cntn: content, faqNo: faqNo }),
	            success: function(response) {
	                alert('저장되었습니다.');
	                location.href = 'FAQList'
	            }
	        });
	    });
    </script>

</body>

</html>