<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Dashboard - Mazer Admin Dashboard</title>

<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="assets/css/bootstrap.css" />
<link rel="stylesheet" href="assets/vendors/iconly/bold.css" />
<link rel="stylesheet" href="assets/vendors/perfect-scrollbar/perfect-scrollbar.css" />
<link rel="stylesheet" href="assets/vendors/bootstrap-icons/bootstrap-icons.css" />
<link rel="stylesheet" href="assets/css/test.css" />
<link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon" />
<link rel="stylesheet" href="assets/css/modal.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</head>

<body>
	<div id="app">
		<div id="sidebar" class="active">
			<div class="sidebar-wrapper active">
				<div class="sidebar-header">
					<div class="d-flex justify-content-between">
						<div class="logo">
							<a href="index.html"><img src="assets/images/logo/logo.png"
								alt="Logo" srcset="" /></a>
						</div>
						<div class="toggler">
							<a href="#" class="sidebar-hide d-xl-none d-block"><i
								class="bi bi-x bi-middle"></i></a>
						</div>
					</div>
				</div>

				<div class="sidebar-menu">
					<ul class="menu">
						<li class="sidebar-title">Menu</li>

						<li class="sidebar-item active"><a href="index.html"
							class="sidebar-link"> <i class="bi bi-grid-fill"></i> <span>채팅</span>
						</a></li>



<!--/* ************************ Board List Start *************************** */-->
<li class="sidebar-item has-sub"><a href="#" class="sidebar-link"> 
<i class="bi bi-stack"></i> 
	<span>게시판</span>
	<button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#inlineForm" style="margin-left: 87px">+</button>
</a>
<ul class="submenu" id="ultag">
<li class="submenu-item" th:each="list, stat : ${Brd}">

<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 108.9 103.6">
    <g id="Layer_2" data-name="Layer 2">
        <g id="Layer_1-2" data-name="Layer 1">
            <polygon th:onclick="clickInsert()" class="cls-1 clicked" points="54.4 0 71.3 34.1 108.9 39.6 81.7 66.1 88.1 103.6 54.4 85.9 20.8 103.6 27.2 66.1 0 39.6 37.6 34.1 54.4 0" th:class="${list.brdUniNo}">
        </g>
    </g>
</svg>
<a th:href="@{/postList(brdUniNo=${list.brdUniNo})}" th:text="${list.boardNm}"></a>
</li>
</ul>
	</li>
		</ul>
<!-- 별 아이콘 클릭 시 brdUniNo 값 받아오는 Script -->
<script>
function clickInsert(){
	console.log(event.target.className.animVal);
      let star = event.target;
      let brdUniNo = event.target.className.animVal;
      let particiMembUniNo = '[[${session.particiMembUniNo}]]';
      let data = {
    	  'brdUniNo' : brdUniNo,
    	  'particiMembUniNo' : particiMembUniNo
      }
      fetch('/modu/BrdBmInsert', {
    	  method : 'POST',
    	  headers : {
    		  'content-type' : 'application/json'
    	  },
    	  body : JSON.stringify(data)
      })
      .then(response => response.json())
      .then(data => {
    	  console.log(data)
    	  star.classList.toggle('clicked');
    	  star.classList.toggle('cls-1');
      })
      .catch(err => console.log(err));
}
  document.getElementById('ultag').addEventListener('click', function(event) {
    let target = event.target;
    if (target.classList.contains('cls-1')) {
      let brdUniNo = target.getAttribute('text-brdUniNo');
    }
  });
</script>
<!--/* ************************ End *************************** */-->
			</div>

				<button class="sidebar-toggler btn x">
					<i data-feather="x"></i>
				</button>
			</div>
		</div>
		<div id="rsidebar" class="active">
			<div class="rsidebar-wrapper active">
				<div class="rsidebar-header">
					<div class="d-flex justify-content-between">
						<div class="logo">
							<a href="#"><img src="assets/images/logo/logo.png"
								alt="Logo" srcset="" /></a>
						</div>
						<div class="toggler">
							<a href="#" class="rsidebar-hide d-block"><i
								class="bi bi-x bi-middle"></i></a>
						</div>
					</div>
				</div>
				
				<div class="rsidebar-menu">			
					<div id="rsidebarContent"></div>
				</div>
				<button class="rsidebar-toggler btn x">
					<i data-feather="x"></i>
				</button>
				<button class="buger-btn" style="display:none">
					<i data-feather="x"></i>
				</button>
			</div>
		</div>
		<div id="main" class="layout-navbar">
			<header class="mb-3">
				<nav class="navbar navbar-expand navbar-light">
				
					<div class="container-fluid">
						<a href="#" class="burger-btn d-block"> <i
							class="bi bi-justify fs-3"></i>
						</a> <a href="#" class="rburger-btn d-block"> <i
							class="bi bi-justify fs-3" style="display:none"></i>
						</a>

						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
								<li class="nav-item me-1"><a class="nav-link active" href="#" aria-expanded="false"> <i class="bi bi-search bi-sub fs-4 text-gray-600"></i>
										

								</a></li>
								<li class="nav-item me-1"><a class="nav-link active"
									href="#" aria-expanded="false"> <i
										class="bi bi-bell bi-sub fs-4 text-gray-600"></i>
								</a></li>
								<li class="nav-item dropdown me-3"><a
									class="nav-link active dropdown-toggle" href="#"
									data-bs-toggle="dropdown" aria-expanded="false"> <i
										class="bi bi-justify bi-sub fs-4 text-gray-600"></i>
								</a>
									<ul class="dropdown-menu dropdown-menu-end"
										aria-labelledby="dropdownMenuButton">
										<li><a class="dropdown-item rburger" >일정</a></li>
										<li><a class="dropdown-item rburger" onclick="todoList()">할일</a></li>
										<li><a class="dropdown-item rburger" onclick="voteList()">투표</a></li>
										<li><a class="dropdown-item rburger" href="">즐겨찾기</a></li>
									</ul></li>
							</ul>
							<div class="dropdown">
								<a href="#" data-bs-toggle="dropdown" aria-expanded="false">
									<div class="user-menu d-flex">
										<div class="user-name text-end me-3">
											<h6 class="mb-0 text-gray-600">[[${session.user.nm}]]</h6>
											<p class="mb-0 text-sm text-gray-600">Administrator</p>
										</div>
										<div class="user-img d-flex align-items-center">
											<div class="avatar avatar-md">
												<img src="assets/images/faces/1.jpg" />
											</div>
										</div>
									</div>
								</a>								
								<ul class="dropdown-menu dropdown-menu-end"
									aria-labelledby="dropdownMenuButton">
									<li>
										<h6 class="dropdown-header">[[${session.user.nm}]]</h6>
									</li>
									<li><a class="dropdown-item" href="#"><i
											class="icon-mid bi bi-person me-2"></i> 마이페이지</a></li>
									<li><a class="dropdown-item" href="#"><i
											class="icon-mid bi bi-gear me-2"></i> 설정</a></li>
									<li>
										<hr class="dropdown-divider" />
									</li>
									<li><a class="dropdown-item" href="logout"><i
											class="icon-mid bi bi-box-arrow-left me-2"></i>로그아웃</a></li>
								</ul>
							</div>
						</div>
					</div>
				</nav>
			</header>

			<div class="page-heading">
				<h3>Profile Statistics</h3>
			</div>
			<div class="page-content">
				<section class="row">
					<article layout:fragment="content"></article>
				</section>
		<!--Modal -->
		<div class="modal fade text-left" id="inlineForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title" id="myModalLabel33">게시판 생성</h4>
								<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
									<i data-feather="x"></i>
								</button>
							</div>
<form action="InsertBoard" method="POST" id="FormEvent">
	<div class="modal-body">
	<h5>게시판 이름</h5>
	<div class="form-group">
	<input id="boardNm" name="boardNm" type="text" placeholder="40자까지 입력 가능합니다." class="form-control">
</div>
	<div class="form-group">
	<input id="particiMembUniNo" name="particiMembUniNo" th:value="${session.particiMembUniNo}" type="text" class="form-control" style="display:none">
	<input id="prjUniNo" name="prjUniNo" th:value="${session.prjUniNo}" type="text" class="form-control" style="display:none">
	<div class="form-group">
	<h6>공개여부</h6>
	<input type="checkbox" id="checkbox" name="pubcYn" checked>
	
	<label for="checkbox"><span></span></label>
</div>
</div>
	<div class="modal-footer">
	<button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
	<i class="bx bx-x d-block d-sm-none"></i> <span class="d-none d-sm-block">닫기</span>
	</button>
	<button id="formbtn" type="button" class="btn btn-primary ml-1" data-bs-dismiss="modal" onclick="addBoard()">
	<i class="bx bx-check d-block d-sm-none"></i> <span class="d-none d-sm-block">생성</span>
	</button>
</div>
</div>
</form>
						</div>
					</div>
				</div>
			</div>
			<footer>
				<div class="footer clearfix mb-0 text-muted">
					<div class="float-start">
						<p>2021 &copy; Mazer</p>
					</div>
					<div class="float-end">
						<p>
							Crafted with <span class="text-danger"><i
								class="bi bi-heart"></i></span> by <a href="http://ahmadsaugi.com">A.
								Saugi</a>
						</p>
					</div>
				</div>
			</footer>
		</div>
	</div>
	
	<script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<script src="assets/js/test.js"></script>
	<script>
	function addBoard(){
		let check = document.querySelector('#checkbox');
		let checkOk = '';
		if(check.checked){
			checkOk = 'on';
		}else{
			checkOk = '';
		}
		checkbox.value
		fetch("/modu/InsertBoard",{
			method : 'POST',
			headers:{
				"Content-Type":"application/x-www-form-urlencoded"
			},
			body: 
			"particiMembUniNo="+particiMembUniNo.value
			+"&prjUniNo="+prjUniNo.value
			+"&boardNm="+boardNm.value
			+"&pubcYn="+checkOk
		})
		.then(result=>result.json())
		.then(data => {
			console.log(data);
			let liTag=`
				<li class="submenu-item">
				<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 108.9 103.6">
			    <g id="Layer_2" data-name="Layer 2">
			        <g id="Layer_1-2" data-name="Layer 1">
			            <polygon onclick="clickInsert()" class="cls-1 "`+data.brdUniNo+` points="54.4 0 71.3 34.1 108.9 39.6 81.7 66.1 88.1 103.6 54.4 85.9 20.8 103.6 27.2 66.1 0 39.6 37.6 34.1 54.4 0">
			        </g>
			    </g>
			</svg>
				<a href="/postList?brdUniNo="`+data.brdUniNo+`>`+data.boardNm+`</a>
				</li>
			`;
			
			let submenu=document.querySelector('.submenu');
			submenu.innerHTML+=liTag;
			
		})
		.catch(err => console.log(err))
	}
	</script>
 	<script>
 	function todoList(){
 	 $.ajax("todo")
		.done(function(result){
			$("#rsidebarContent").html(result);
		})
 	}
 	function voteList(){
 	  $.ajax("vote")
 		.done(function(result){
 			$("#rsidebarContent").html(result);
 		})
 	}
 	</script>
</body>
</html>