<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>로그인</title>
<link
	href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="assets/css/bootstrap.css">
<link rel="stylesheet"
	href="assets/vendors/bootstrap-icons/bootstrap-icons.css">
<link rel="stylesheet" href="assets/css/app.css">
<link rel="stylesheet" href="assets/css/pages/auth.css">
<script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<link rel="stylesheet"
	href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">


<style>
.login-container {
	text-align: center; /* 중앙 정렬 */
	margin: 0 auto; /* 전체 컨테이너를 화면 중앙에 위치시킴 */
}

#loginButton {
	width: 100%; /* 컨테이너의 전체 너비를 차지 */
}

.social-login-container {
	margin-top: 10px; /* 로그인 버튼과의 간격 */
	display: flex; /* 이미지 버튼들을 한 줄에 배치 */
	justify-content: space-between; /* 이미지 버튼들 사이의 간격을 최대로 */
}

.social_login {
	width: 49%; /* 컨테이너 너비의 절반 보다 약간 작게 (1%는 간격을 위함) */
	height: auto;
	cursor: pointer;
}
</style>
</head>

<body>
	<div id="auth">
		<div class="row h-100">
			<div class="col-lg-5 col-12">
				<div id="auth-left">
					<div class="auth-logo">
						<a class="navbar-brand" th:href="@{/}"><span
							class="fw-bolder text-primary">MODU</span></a>
					</div>
					<h1 class="auth-title">로그인</h1>

					<div th:if="${message}" th:text="${message}" th:remove="all"
						id="serverMessage"></div>

					<form th:action="@{/login}" method="post" id="loginForm">
						<div class="form-group position-relative has-icon-left mb-4">
							<input type="text" name="username"
								class="form-control form-control-xl" placeholder="이메일">
							<div class="form-control-icon">
								<i class="bi bi-person"></i>
							</div>
						</div>
						<div class="form-group position-relative has-icon-left mb-4">
							<input type="password" name="pwd"
								class="form-control form-control-xl" placeholder="비밀번호">
							<div class="form-control-icon">
								<i class="bi bi-shield-lock"></i>
							</div>
						</div>
						<div class="text mt-2" th:if="${param.error}">
							<p class="text-gray-600">
								<span th:if="${param.active} == 'false'" style="color: red;">이메일
									인증이 필요합니다.</span> <span th:if="${param.active} != 'false'"
									style="color: red;">아이디 또는 비밀번호가 틀렸습니다.</span>
							</p>
						</div>
						<div
							class="form-check for m-check-lg d-inline-flex align-items-end">
							<input class="form-check-input me-2" type="checkbox"
								name="rememberId" id="flexCheckDefault1"> <label
								class="form-check-label text-gray-600" for="flexCheckDefault1">아이디
								저장 </label>
						</div>
						<div class="text mt-2">
							<p class="text-gray-600">
								M_OD_U가 처음이신가요? <a th:href="@{/signup}" class="font-bold"
									style="text-decoration: underline;">회원가입</a>
							</p>

						</div>
						<div class="login-container">
							<button type="submit" id="loginButton"
								class="btn btn-primary btn-block btn-lg shadow-lg mt-2">로그인</button>
							<div class="social-login-container"></div>
							<img src="assets/images/kakao_circle.png" alt="카카오_로그인"
								id="kakao" class="social_login" style="width: 60px"> <img
								src="assets/images/naver_circle.png" alt="네이버_로그인" id="naver"
								class="social_login" style="width: 60px">
						</div>
						<div class="text-center mt-2">
							<p class="text-gray-600">
								<a href="#" class="font-bold" id="forgotIdLink"
									onclick="openPopup1()">아이디 찾기</a> | <a href="#"
									class="font-bold" id="forgotPasswordLink" onclick="openPopup()">비밀번호
									찾기</a>
							</p>
						</div>
					</form>
				</div>
			</div>
			<div class="col-lg-7 d-none d-lg-block">
				<div id="auth-right"></div>
			</div>
		</div>
	</div>
	<script>
		$('.social_login').on('click', function() {
			let path = $(this).attr('id');
			let url = `oauth2/authorization/${path}`;
			window.location.href = url;
		});

		// 페이지 로드 시 쿠키 값 가져오기 및 로그인 실패 여부 체크
		window.onload = function() {
			var savedUsername = getCookie("savedUsername");
			if (savedUsername) {
				document.getElementsByName("username")[0].value = savedUsername;
				document.getElementById("flexCheckDefault1").checked = true;
			}

			//로그인 실패 여부 체크
			var failedLogin = new URLSearchParams(window.location.search)
					.has("error");
			if (failedLogin) {
			}
		};

		// 쿠키 가져오기 함수
		function getCookie(name) {
			var value = "; " + document.cookie;
			var parts = value.split("; " + name + "=");
			if (parts.length === 2) {
				return parts.pop().split(";").shift();
			}
		}

		//비밀번호 찾기 팝업창
		function openPopup() {

			// 팝업 창을 열 때 사용할 URL
			var popupURL = "/modu/pwdSearch";
			// 팝업 창 옵션 설정 (크기, 위치, 스크롤 등)
			var popupOptions = "width=500,height=300,top=100,left=100,scrollbars=1";
			window.open(popupURL, "PasswordResetPopup", popupOptions);
		}

		//아이디 찾기 팝업창
		function openPopup1() {

			// 팝업 창을 열 때 사용할 URL
			var popupURL = "/modu/idSearch";
			// 팝업 창 옵션 설정 (크기, 위치, 스크롤 등)
			var popupOptions = "width=500,height=300,top=100,left=100,scrollbars=1";
			window.open(popupURL, "idSearch", popupOptions);
		}

		// 이메일 활성화 alert
		var message = /*[[${message}]]*/"";
		if (message !== "") {
			alert(message);
		}
	</script>
</body>
</html>
