<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login - Mazer Admin Dashboard</title>
<link
	href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="assets/css/bootstrap.css">
<link rel="stylesheet"
	href="assets/vendors/bootstrap-icons/bootstrap-icons.css">
<link rel="stylesheet" href="assets/css/app.css">
<link rel="stylesheet" href="assets/css/pages/auth.css">
<script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>


<style>
.kakaoLoginBtn {
	width: 428px; /* 버튼 크기 설정 */
	height: 48px;
	background-image: url('assets/images/kakao_login.png');
	background-size: cover;
}
</style>
</head>

<body>
	<div id="auth">
		<div class="row h-100">
			<div class="col-lg-5 col-12">
				<div id="auth-left">
					<div class="auth-logo">
						<a href="index.html"><img src="assets/images/logo/logo.png"
							alt="Logo"></a>
					</div>
					<h1 class="auth-title">로그인</h1>

					<form th:action="@{/login}" method="post">
						<div class="form-group position-relative has-icon-left mb-4">
							<input type="text" name="username"
								class="form-control form-control-xl" placeholder="이메일">
							<div class="form-control-icon">
								<i class="bi bi-person"></i>
							</div>
						</div>
						<div class="form-group position-relative has-icon-left mb-4">
							<input type="password" name="pwd"
								class="form-control form-control-xl" placeholder="비밀번호">
							<div class="form-control-icon">
								<i class="bi bi-shield-lock"></i>
							</div>
						</div>
						<div
							class="form-check form-check-lg d-inline-flex align-items-end">
							<input class="form-check-input me-2" type="checkbox"
								name="rememberId" id="flexCheckDefault1"> <label
								class="form-check-label text-gray-600" for="flexCheckDefault1">아이디
								저장 </label>
						</div>
						<div class="text mt-2">
							<p class="text-gray-600">
								M_OD_U가 처음이신가요? <a th:href="@{/signup}" class="font-bold"
									style="text-decoration: underline;">회원가입</a>
							</p>

						</div>
						<button type="submit"
							class="btn btn-primary btn-block btn-lg shadow-lg mt-2">로그인</button>
						<button type="button" id="kakaoLoginBtn">카카오로그인</button>
						<div class="text-center mt-2">
							<p class="text-gray-600">
								<a href="auth-forgot-username.html" class="font-bold">아이디 찾기</a>
								| <a class="font-bold" href="auth-forgot-password.html">비밀번호
									찾기</a>
							</p>
						</div>
					</form>
				</div>
			</div>
			<div class="col-lg-7 d-none d-lg-block">
				<div id="auth-right"></div>
			</div>
		</div>
	</div>
	<script>
		// 페이지 로드 시 쿠키 값 가져오기
		window.onload = function() {
			var savedUsername = getCookie("savedUsername");
			if (savedUsername) {
				document.getElementsByName("username")[0].value = savedUsername;
				document.getElementById("flexCheckDefault1").checked = true;
			}
		};
		// 쿠키 가져오기 함수
		function getCookie(name) {
			var value = "; " + document.cookie;
			var parts = value.split("; " + name + "=");
			if (parts.length === 2) {
				return parts.pop().split(";").shift();
			}
		}
	</script>
</body>
</html>
