<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.modu.app.prj.board.mapper.BoardMapper">

	<!-- 게시판 전체조회 -->
	<select id="BoardList" resultType="BoardVO" parameterType="BoardVO">
       select brd.partici_memb_uni_no, brd.brd_uni_no, brd.board_nm, 
        brd.pubc_yn, brd.reg_dt, brd.prj_uni_no, brd_bm.brd_yn
from brd
    left outer join brd_bm on brd.brd_uni_no = brd_bm.brd_uni_no
    left outer join brd_cm on brd.brd_uni_no = brd_cm.board_uni_no
where brd.prj_uni_no=#{prjUniNo}
    and (brd.pubc_yn = 'Y' or (brd.pubc_yn='N' and brd_cm.partici_memb_uni_no=#{particiMembUniNo}))
	</select>

	<!-- 게시판 생성 -->
	<insert id="InsertBoard" parameterType="BoardVO" statementType="CALLABLE">
		CALL
		create_brd(
		#{boardNm},
		#{pubcYn},
		#{prjUniNo},
		#{particiMembUniNo}
		)
	</insert>

	<!-- 게시판 삭제 -->
	<delete id="DeleteBoard" parameterType="BoardVO">
		DELETE brd
		WHERE
		brd_uni_no = #{brdUniNo}
	</delete>

	<!-- 게시판 수정 -->
	<update id="BrdUpdate" parameterType="BoardVO">
		UPDATE brd SET
		board_nm =
		#{boardNm},
		pubc_yn = #{pubcYn}
		WHERE brd_uni_no = #{brdUniNo}
	</update>

	<!-- PostControl에 쓰임  -->
	<select id="brdNm" resultType="BoardVO" parameterType="BoardVO">
		SELECT * FROM brd
		WHERE brd_uni_no = #{brdUniNo}
	</select>
	
	<select id="BrdCount" resultType="int" parameterType="BoardVO">
	SELECT count(*)
	FROM brd
	WHERE prj_uni_no=#{prjUniNo}
	</select>
	
	<select id="prjList" resultType="BoardVO" parameterType="BoardVO">
	SELECT *
	FROM prj_partici_memb
	WHERE prj_uni_no = #{prjUniNo}
	</select>
	
	<select id="chatParticiMemb" resultType="BoardVO" parameterType="BoardVO">
	SELECT * 
	FROM chatr_partici
	WHERE chatr_no = #{chatrNo}
	</select>
	
<select id="particiBrd" resultType="BoardVO" parameterType="BoardVO">
   SELECT *
   FROM prj_partici_memb
   WHERE prj_uni_no = #{prjUniNo} AND partici_memb_uni_no 
   NOT IN
   (SELECT partici_memb_uni_no
   FROM brd_cm
   WHERE board_uni_no = #{brdUniNo})
	</select>
	
	<insert id="newJeans" parameterType="BoardVO">
	INSERT INTO brd_cm 
	VALUES(
	brd_cm_seq.nextval,
	#{particiMembUniNo},
	#{boardUniNo}
	)
	</insert>
	
	<select id="POSTLIST" resultType="BoardVO" parameterType="BoardVO">
			SELECT p.post_uni_no,
			   p.brd_uni_no,
			   p.ttl,
			   p.cm,
			   p.partici_memb_uni_no,
			   p.post_tag_arm,
			   p.reply_arm_yn,
			   p.noti_yn,
			   p.noti_reg_dt,
			   p.write_dt,
			   m.nnm
		  FROM post p 
		  JOIN prj_partici_memb m
		    ON p.partici_memb_uni_no = m.partici_memb_uni_no
	     WHERE p.brd_uni_no=#{brdUniNo}
	  ORDER BY write_dt desc
	</select>
	
	<!-- 비공개 게시판 조회 멤버 -->
	<select id="superShy" resultType="BoardVO" parameterType="BoardVO">
		SELECT *
		FROM brd_cm
		WHERE board_uni_no = #{brdUniNo}
	</select>
	
</mapper>