<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.modu.app.prj.board.mapper.BoardMapper">
 	
	<!-- Board 전체조회 --> 	
	<select id="BoardList" resultType="BoardVO" parameterType="BoardVO">
   SELECT *
   FROM brd a left outer join brd_cm b on a.brd_uni_no=b.board_uni_no
   WHERE (a.pubc_yn = 'Y'
   or (a.pubc_yn = 'N' and b.partici_memb_uni_no = #{particiMembUniNo}))
   AND a.prj_uni_no = #{prjUniNo}
	</select>
	
	<insert id="InsertBoard" parameterType="BoardVO">
	INSERT INTO brd (brd_uni_no, board_nm, pubc_yn, prj_uni_no, partici_memb_uni_no, reg_dt)
	VALUES
	('b'||brd_seq.nextval,#{boardNm},#{pubcYn},#{prjUniNo},#{particiMembUniNo},sysdate)
	</insert>
 </mapper>