<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <style>
        .todo:hover {
            opacity: 0.5;
            cursor: pointer;
        }
        
        body{
 -ms-overflow-style: none;
 }
 
::-webkit-scrollbar {
  display: none;
}
    </style>
</head>

<body>
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">할일</h4>
                <hr>
            </div>
            <div class="card-content">
                <div class="card-body" id="todo">
                    <p class="card-text">
                                  <div class="card-content pb-4">
                                <div class="recent-message d-flex px-4 py-3">
                                    <div class="avatar avatar-lg">
                                    </div>
                                    <div class="name ms-4">
                                        <h5 class="mb-1">[[${todoInfo.ttl}]]</h5>
                                    </div>
                                </div>
                                <div class="recent-message d-flex px-4 py-3">
                                    <div class="avatar avatar-lg">
                                        <img src="assets/images/faces/5.jpg">
                                    </div>
                                    <div class="name ms-4">
                                        <h5 class="mb-1">담당자</h5>
                                        <h6 class="text-muted mb-0">[[${todoInfo.mgr}]]</h6>
                                    </div>
                                </div>
                                <div class="recent-message d-flex px-4 py-3">
                                    <div class="avatar avatar-lg">
                                        <img src="assets/images/faces/1.jpg">
                                    </div>
                                    <div class="name ms-4">
                                        <h5 class="mb-1">참가자</h5>
                                        <h6 class="text-muted mb-0">[[${todoInfo.cm}]]</h6>
                                    </div>
                                </div>
                                <div class="px-4">
                                    <button class='btn btn-block btn-xl btn-light-primary font-bold mt-3'>Start
                                        Conversation</button>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        /*  		$.ajax("todoInfo/"+${todoUniNo})
 		.done(result=>{
 		for(i of result){
 			let div = `<p></p>
 					<div>
 						<h4 class="card-title">진행률 :<span>${i.pct}</span> </h4>
 						<h2>${i.ttl}</h2>
 						<small class="text-muted">${i.cntn}</small>
 						<p class="card-text">담당자 : ${i.mgr}참가자: ${i.cm}</p>
 						<small class="text-muted"><span>${i.frDt}</span>~<span>${i.toDt}</span></small>
 						 <select>
 				        <option>${i.pct}</option>
 				        </select>
 					</div>
 		`;
 		$('#todo').append(div);
 		}
 		}) */



        function todoInsert() {
            $.ajax("todoInsert")
                .done(result => {
                    $("#rsidebarContent").html(result);
                })
        }
    </script>
</body>

</html>