<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.modu.app.prj.post.mapper.PostMapper">
 
 <select id="selectAllPost" resultType="PostVO">
 	SELECT p.post_uni_no,
 		   p.brd_uni_no,
 		   p.ttl,
 		   p.cm,
 		   p.partici_memb_uni_no,
 		   <if test="post_tag_arm != null and !post_tag_arm.equals('')">
 		   p.post_tag_arm,
 		   </if>
 		   p.reply_arm_yn,
 		   p.noti_yn,
 		   <if test="noti_reg_dt != null and !noti_reg_dt.equals('')">
 		   p.noti_reg_dt,
 		   </if>
 		   p.write_dt,
 		   m.nnm
 	FROM post p JOIN prj_partici_memb m
 	ON p.partici_memb_uni_no = m.partici_memb_uni_no
 	WHERE p.brd_uni_no=#{brdUniNo}
 	ORDER BY write_dt
 </select>
 
 <select id="selectOnePost" resultType="PostVO">
 	SELECT post_uni_no,
 		   brd_uni_no,
 		   ttl,
 		   cm,
 		   partici_memb_uni_no,
 		   write_dt,
 		   <if test="post_tag_arm != null and !post_tag_arm.equals('')">
 		   post_tag_arm,
 		   </if>
 		   reply_arm_yn,
 		   noti_yn,
 		   <if test="noti_reg_dt != null and !noti_reg_dt.equals('')">
 		   noti_reg_dt
 		   </if>
 	FROM post
 	WHERE post_uni_no=#{postUniNo}
 </select>
 
<insert id="insertPost" parameterType="PostVO">
    INSERT INTO post (post_uni_no,
                      brd_uni_no,
                      ttl,
                      cm,
                      partici_memb_uni_no,
                      write_dt,
                      <if test="postTagArm != null and !postTagArm.equals('')">
                      post_tag_arm,
                      </if>
                      reply_arm_yn,
                      noti_yn,
                      <if test="notiRegDt != null and !notiRegDt.equals('')">
                      noti_reg_dt
                      </if>
                      )
		    VALUES (
		           #{postUniNo},
		           #{brdUniNo},
		           #{ttl},
		           #{cm},
		           #{particiMembUniNo},
		           sysdate,
		           <if test="postTagArm != null and !postTagArm.equals('')">
                   #{postTagArm},
                   </if>
                   #{replyArmYn},
                   #{notiYn},
                   <if test="notiRegDt != null and !notiRegDt.equals('')">
                   sysdate
                   </if>
		           )
</insert>
 
 <update id="updatePost" parameterType="PostVO">
 	UPDATE post SET 
 					<if test="ttl != null and !ttl.equals('')">
 					ttl=#{ttl},
 					</if>
 					<if test="cm != null and !cm.equals('')">
 		   			cm=#{cm},
 		   			</if>
 		   			<if test="postTagArm != null and !postTagArm.equals('')">
 		   			post_tag_arm=#{postTagArm},
					</if>
 	WHERE post_uni_no=#{postUniNo}
 </update>
 
 <delete id="deletePost" parameterType="String">
 	DELETE FROM post WHERE post_uni_no=#{postUniNo}
 </delete>
 
 <update id="replyOnOff" parameterType="String">
 	UPDATE post SET 
 					reply_arm_yn=#{replyArmYn} 
 	WHERE post_uni_no=#{postUniNo}
 </update>
 
 <update id="notiOnOff" parameterType="String">
 	UPDATE post SET 
 					noti_yn=#{notiYn},
 					<if test="notiYn == 'O'">
 					noti_reg_dt=sysdate
 					</if>
 	WHERE post_uni_no=#{postUniNo}
 </update>
 
 <select id="selectAllNotiPost" resultType="PostVO">
 	SELECT post_uni_no,
 		   brd_uni_no,
 		   ttl,
 		   cm,
 		   partici_memb_uni_no,
 		   write_dt,
 		   <if test="post_tag_arm != null and !post_tag_arm.equals('')">
 		   post_tag_arm,
 		   </if>
 		   reply_arm_yn,
 		   noti_yn,
 		   noti_reg_dt
 	FROM post
 	WHERE noti_yn == 'O'
 	ORDER BY noti_reg_dt
 </select>
 
 </mapper>
 